<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',  fullScreenBackdrop:true }"></ngx-loading>
<div class="container-fluid no-padding no-margin" style="overflow:hidden;">
    <div class="row">
        <div class="col-xs-1 col-sm-2"></div>
        <div class="col-xs-10 col-sm-8 forma">           
            <div class="titulo-forma"></div>
            <form novalidate (ngSubmit)="onSubmit(form_registro_usuario)" [formGroup]="form_registro_usuario">
              <div class="form-group col-xs-12">
                <label for="name">Nombre (*)</label>
                <input type="text" formControlName="name" id="name" class="form-control" name="name" autocomplete="off" ng-maxlength="60" required>
                <div class="col-sm-12 text-left">
                  <span class="help-block text-danger" *ngIf="form_registro_usuario.get('name').touched && (form_registro_usuario.get('name').hasError('required') || form_registro_usuario.get('name').hasError('invalid'))">Este campo es obligatorio.</span>
                  <span class="help-block text-danger" *ngIf="form_registro_usuario.get('name').touched && form_registro_usuario.get('name').hasError('maxlength')">Este espacio requiere menos de 60 caracteres.</span>
                  <span class="help-block text-danger" *ngIf="form_registro_usuario.get('name').touched && form_registro_usuario.get('name').hasError('invalidString')">This field only admits letters from a-z and A-Z.</span>
                  <span class="help-block text-danger" *ngIf="form_registro_usuario.get('name').touched && form_registro_usuario.get('name').hasError('tooManyWords')">Too many words. This field admits three words or less.</span>
                </div>
              </div><!-- End class form-group col-xs-12 name-->
              <div class="form-group col-xs-12">
                <label for="lastname">Apellido (*)</label>
                <input type="text" formControlName="lastname" id="lastname" class="form-control" name="lastname" autocomplete="off" ng-maxlength="60" required>
                <div class="col-sm-12 text-left">
                    <span class="help-block text-danger" *ngIf="form_registro_usuario.get('lastname').touched && (form_registro_usuario.get('lastname').hasError('required') || form_registro_usuario.get('lastname').hasError('invalid'))">Este campo es obligatorio.</span>
                    <span class="help-block text-danger" *ngIf="form_registro_usuario.get('lastname').touched && form_registro_usuario.get('lastname').hasError('maxlength')">Este espacio requiere menos de 60 caracteres.</span>
                    <span class="help-block text-danger" *ngIf="form_registro_usuario.get('lastname').touched && form_registro_usuario.get('lastname').hasError('invalidString')">This field only admits letters from a-z and A-Z.</span>
                    <span class="help-block text-danger" *ngIf="form_registro_usuario.get('lastname').touched && form_registro_usuario.get('lastname').hasError('tooManyWords')">Too many words. This field admits three words or less.</span>
                </div>
              </div><!-- End class form-group col-xs-12 lastname-->
              <div class="form-group col-xs-12">
                <label for="email">E-mail (*)</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    <input type="text" formControlName="email" id="email" class="form-control" name="email" autocomplete="off" ng-maxlength="60" required>
                </div>
                <div class="col-sm-12 text-left">
                  <span class="help-block text-danger" *ngIf="form_registro_usuario.get('email').touched && form_registro_usuario.get('email').hasError('required')">Este campo es obligatorio.</span>
                  <span class="help-block text-danger" *ngIf="form_registro_usuario.get('email').touched && form_registro_usuario.get('email').hasError('invalidEmail')">Invalid email. Format.: user@domain.com</span>
                  <span class="help-block text-danger" *ngIf="form_registro_usuario.get('email').touched && form_registro_usuario.get('email').hasError('maxlength')">Este espacio requiere menos de 40 caracteres.</span>
                </div>
              </div><!-- End class form-group col-xs-12 email-->
              <div class="form-group col-xs-12">
                  <label for="bio">Bio.</label>                            
                  <textarea type="textarea" formControlName="bio" id="bio" class="form-control" name="bio" autocomplete="off" ng-maxlength="500"></textarea>
                  <div class="col-sm-12 text-left">
                      <span class="help-block text-danger" *ngIf="form_registro_usuario.get('bio').touched && form_registro_usuario.get('bio').hasError('maxlength')">Este espacio requiere menos de 500 caracteres.</span>
                  </div>
              </div><!-- End class form-group col-xs-12 bio-->
              <div class="form-group col-xs-12 col-sm-6">
                <label for="us_id">Cédula / Pasaporte</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-id-card-o"></i></span>
                    <input type="text" formControlName="us_id" id="us_id" class="form-control" name="us_id" autocomplete="off" ng-maxlength="20">
                </div>
                <div class="col-sm-12 text-left">
                </div>
              </div><!-- End class form-group col-xs-12 cédula-->
              <div class="form-group col-xs-12 col-sm-6">
                  <label for="birthdate">Fecha de Nacimiento (*) </label>
                  <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                      <input type="date" class="form-control" formControlName="birthdate" 
                      placeholder="yyyy-MM-dd" date-format="yyyy-MM-dd" date-only=true 
                      name="birthdate"  value={{updateUser.birthdate}} required>
                  </div>
                  <div class="col-sm-12 text-left">
                    <span class="help-block text-danger" *ngIf="form_registro_usuario.get('birthdate').touched && (form_registro_usuario.get('birthdate').hasError('required') || form_registro_usuario.get('birthdate').hasError('invalid'))">Este campo es obligatorio.</span>
                    <span class="help-block text-danger" *ngIf="form_registro_usuario.get('birthdate').touched && form_registro_usuario.get('birthdate').hasError('invalidFutureDate')">Future date.</span>
                    <span class="help-block text-danger" *ngIf="form_registro_usuario.get('birthdate').touched && form_registro_usuario.get('birthdate').hasError('invalidDateDayRange')">Invalid Day.</span>
                    <span class="help-block text-danger" *ngIf="form_registro_usuario.get('birthdate').touched && form_registro_usuario.get('birthdate').hasError('invalidDateYearRange')">Invalid Year.</span>
                    <span class="help-block text-danger" *ngIf="form_registro_usuario.get('birthdate').touched && form_registro_usuario.get('birthdate').hasError('invalidUnderAge')">Clients must be 18 or older.</span>
                    <span class="help-block text-danger" *ngIf="form_registro_usuario.get('birthdate').touched && form_registro_usuario.get('birthdate').hasError('invalidDateFormat')">Invalid date format. Must be YYYY-MM-DD</span>
                  </div>
              </div>                 
              <div class="form-group col-xs-12 col-md-6">
                <label for="c_locucion">Certificado de Locución</label>
                <input type="text" formControlName="c_locucion" id="c_locucion" class="form-control" name="c_locucion" autocomplete="off" ng-maxlength="15">
              <div class="col-sm-12 text-left"></div>
              </div><!-- End class form-group col-xs-12 locucion-->
              <div class="form-group col-xs-12 col-md-6">
                <label for="pni">Número de Certificado PNI</label>
                <input type="text" formControlName="pni" id="pni" class="form-control" name="pni" autocomplete="off" ng-maxlength="15">
                <div class="col-sm-12 text-left"></div>
              </div><!-- End class form-group col-xs-12 pni-->                              
                         
              <div class="form-group col-xs-12 col-md-6">
                <label for="telephone">Teléfono</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-mobile"></i></span>
                    <input type="text" formControlName="telephone" id="telephone" class="form-control" name="telephone" autocomplete="off" ng-maxlength="15">
                </div>
                <div class="col-sm-12 text-left">    
                  <span class="help-block text-danger" *ngIf="form_registro_usuario.get('telephone').touched && form_registro_usuario.get('telephone').hasError('invalidcellphone')">Pattern invalid, must be +00 000-0000000.</span>
                  <span class="help-block text-danger" *ngIf="form_registro_usuario.get('telephone').touched && form_registro_usuario.get('telephone').hasError('maxlength')">Este espacio requiere menos de 10 numbers.</span>
                </div>
              </div><!-- End class form-group col-xs-12 telephone-->
              <div class="form-group col-xs-12 col-md-6">
                <label for="instagram">Instagram</label>
                <div class="input-group">
                    <span class="input-group-addon">@</span>
                    <input type="text" formControlName="instagram" id="instagram" class="form-control" instagram="instagram" autocomplete="off" ng-maxlength="60">
                </div>
                <div class="col-sm-12 text-left">
                    <span class="help-block text-danger" *ngIf="form_registro_usuario.get('instagram').touched && form_registro_usuario.get('instagram').hasError('maxlength')">Este espacio requiere menos de 60 caracteres.</span>
                </div>
              </div><!-- End class form-group col-xs-12 instagram-->
              <div class="form-group col-xs-12 col-md-6">
                <label for="twitter">Twitter</label>
                <div class="input-group">
                    <span class="input-group-addon">@</span>
                    <input type="text" formControlName="twitter" id="twitter" class="form-control" twitter="twitter" autocomplete="off" ng-maxlength="60">
                </div>
                <div class="col-sm-12 text-left">
                    <span class="help-block text-danger" *ngIf="form_registro_usuario.get('twitter').touched && form_registro_usuario.get('twitter').hasError('maxlength')">Este espacio requiere menos de 60 caracteres.</span>
                </div>
              </div><!-- End class form-group col-xs-12 twitter-->
              <div class="form-group col-xs-12 col-md-6">
                <label for="facebook">Facebook</label>
                <div class="input-group">
                    <span class="input-group-addon">@</span>
                  <input type="text" formControlName="facebook" id="facebook" class="form-control" facebook="facebook" autocomplete="off" ng-maxlength="60">
                </div>
                <div class="col-sm-12 text-left">
                    <span class="help-block text-danger" *ngIf="form_registro_usuario.get('facebook').touched && form_registro_usuario.get('facebook').hasError('maxlength')">Este espacio requiere menos de 60 caracteres.</span>
                </div>
              </div><!-- End class form-group col-xs-12 facebook-->                 
              <div *ngIf="currentRole=='Administrador'" class="form-group col-xs-12 col-md-6">
                <div class="input-group">
                  <span class="input-group-addon"><label for="role">
                    Rol&nbsp;
                    <i class="fa fa-refresh blue-text cursor-pointer" title="Refrescar" (click)="loadRoles()"></i>
                </label></span>
                <select class="form-control" 
                        formControlName="role" 
                        name="role" 
                        list="roles" 
                        autocomplete="off" 
                        id="role" required>
                    <option value="role_" [selected]="role_">{{role_}}</option>
                    <option *ngFor="let item of roles" value="{{item.role}}">{{item.role}}</option>
                </select>
              </div>
            </div><!-- End class form-group col-xs-12 role-->       
            <div *ngIf="currentUser.role=='Administrador'" 
            class="form-group col-xs-12 col-md-4" 
            style="padding-left:0px;">     
            <div class="checkbox">
                <label for="enabled" class="col-xs-12">Habilitado &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;
                <input 
                    type="checkbox"
                    [checked]='usuarioEnabled'  
                    formArrayName="enabled" 
                    class=""
                    value="usuarioEnabled"
                    (change)="onCheckChange($event.target.checked)">                             
                </label>
            </div>
          </div><!-- end enabled --> 
          <div class="form-group col-xs-12 col-xs-12">              
              <span style="color:red;">(*) Obligatorio.</span>
          </div> 
          <div class="form-group col-xs-4 col-sm-6"></div>
          <div class="form-group col-xs-4 col-sm-3">
              <button type="submit" class="btn btn-primary boton-enviar" [disabled]="!form_registro_usuario.valid">Guardar</button>
          </div>
          <div class="form-group col-xs-4 col-sm-3">
              <button class="btn btn-danger boton-enviar">
                <a style="color:white" (click)="volver()"> Cancelar</a></button>
          </div>
        </form>            
    </div>
    <div class="col-xs-1 col-sm-2"></div>
</div>
</div>
