.container-fluid {
    width: 103.8%;
    margin-left: -1.4%;
}

.week {
    background-color:midnightblue;
    width: 103.8%;
    
}

.titulo-prog{
    background-color:#E72A59;
}

.programacion {
    font-family: 'leaguegothic';
    font-size: 2em;
    font-weight: 500;
    color:white;
    padding-top: 0.5em;
    padding-left: 1.1em;
}

.dia {
    font-family: 'leaguegothic';
    color:white;
    font-size: 1.5em;
    font-weight: 500;
    padding-left: 1.6em;
}

.dias-semana{
    background-color:midnightblue;
    text-align: center;
    margin-bottom: 0;
    padding-left:4em;
    height:100%;
}

.prog-header {
    display: block;
    list-style-type: disc;
    list-style: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    height:100%;
    //float: right;
    text-align: center;
    padding-top: 1.6em;
    padding-left:9em;
    //margin:0;
}
.square{
    border-right: 1px 
    solid #ffffff;
    float: left;
    height:100%;
}

.last-square{
    float: left;
    height:100%;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    //background-color: dodgerblue;
    padding-right: 1vw;
    padding-left: 2vw;
    height:100%;
}

.prog-header li:hover{
    cursor:pointer;
    text-underline-position: below;
    background-color:#E72A59;
}

.prog-header li a {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    color: aliceblue;
    //padding-left: 1em;
    padding-right: 0.6em;
    height:100%;
}

.hora {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2em;
    font-weight: 600;
    vertical-align: middle;
    margin-top: 5vw;
    background-color: midnightblue;
    color:white;
    height: 100%;
}

.nombre_programa {
    font-family:'leaguegothic';
    font-size: 1.5em;
    font-weight: 800;
    color: #E72A59;
    margin: 0;
    padding:0;
}

.fa-arrow-circle-down{
    float:right; 
    font-size: 1em;
    margin-right: 1em;
}

.sinopsis {
    font-family: proximanovathin;
    margin-left:0;
    font-size: 2vw;
    font-weight: 600;    
    color: mediumvioletred;
    padding:0;
}

.linea  {
    background-color:white;
    font-family: proximanovathin;
    padding:0;
    padding-left:2em;
   // height:100vh;
}


.linea:hover
{ 
    background-color: #E72A59;
    cursor: pointer;
    .nombre_programa, .sinopsis, .nombre_locutor, .corte_programa {    
        color:white;
        font-weight:200;
    }
}

.nombre_locutor, .corte_programa {
    font-weight: 600;
    padding:0;
    margin:0;
}

.corte_programa {
    color:#E72A59;
}
@media (max-width: 1024px) {
    .programacion,  .dia {
        padding-left:0.3em;
    }
    .dias-semana{
        padding-left: 0em;
    }
    .prog-header {
        padding-left:7em;
    }
}


@media (max-width: 768px) {
    .container-fluid {
        width: 103.8%;
        margin-left: -2%;
    }

    .programacion {
        font-size: 1.8em;
        font-weight: 300;
        padding-top: .3em;
        text-align: center;
        padding-left:0em;
    }
    .dia {
        padding-left: 0em;
        font-size:1.6em;
    }

    .dias-semana{
        padding-left: 4em;
    }
    .prog-header {
        text-align: center;
        float: left;
        padding-left:1em;
        padding-top:0.5em;
    }

    .prog-header li a {
        font-size:1.3em;
    }

    .hora {
        font-size:1.2em;
    }

    .nombre_programa {
     //   font-size: 3vh;
        margin: 0;
        padding:0;
    }
    .fa-arrow-circle-down{
        margin-right: 2em;
    }
    .nombre_locutor {
        padding: 0;
        margin: 0;
    }
    .sinopsis {
        font-size: 1em;
    }
}

@media screen and (min-width: 376px) and (max-width: 420px) {
    .container-fluid {
        width: 105%;
        margin-left: -4%;
    }

    .dias-semana{
        padding-left:1.9em;
    }

    .prog-header {
        float: left;
        padding-left:2.3em;
        padding-top: 0.4em;
    }
    .programacion {
        font-size: 1.8em;
        font-weight: 200;
        padding-top: 0.5em;
        text-align: right;
        padding-left: 4.4em;
    }
    .dia {
        font-size: 1.5em;
        //font-weight: 600;
        text-align: left;
        color: white;
        font-family: 'leaguegothic';
        padding-top: 0.8em;
        padding-left: 1.8em;
    }

    .prog-header {
        float: left;
    }

    .prog-header li a {
        font-size: 0.9em;
    }

    .linea {
        padding-left:0.3em;
    }

    .hora {        
        font-size: 0.8em;
        font-weight: 400;
        vertical-align: middle;
        margin-top: 5vw;    
        
    }

    .nombre_programa{
        font-size: 1.4em;
        font-weight: 500;
    }
    .fa-arrow-circle-down{
        margin-right:0.3em;
       // font-size:0.8em;
        padding-top:0.3em;
    }


    .nombre_programa, .nombre_locutor, .corte_programa, .sinopsis{
        padding: 0em;
        margin:0;
    }
}

@media (max-width: 375px) {
    .container-fluid {
        width: 105%;
        margin-left: -4.3%;
    }

    .programacion {
        font-size: 1.8em;
        font-weight: 200;
        padding-top: 0.2em;
        text-align: right;
        padding-left: 3.3em;
    }
    .dia {
        font-size: 1.5em;
        //font-weight: 600;
        text-align: left;
        color: white;
        font-family: 'leaguegothic';
        padding-top: 0.4em;
        padding-left: 2em;
    }

    .dias-semana{
        padding-left:1.7em;
    }

    .prog-header {
        float: left;
        padding-left:2em;
        padding-top: 0.5em;
    }

    .prog-header li a {
        font-size: 0.7em;
    }


    .hora {        
        font-size: 0.6em;
        font-weight: 400;
        vertical-align: middle;
        margin-top: 5vw;           
    }

    .linea {
        padding-left: 0;
    }

    .nombre_programa{
        font-size: 1.4em;
        font-weight: 500;
    }

    .fa-arrow-circle-down{
        margin-right:0.3em;
        font-size:0.8em;
        padding-top:0.3em;
    }

    .nombre_programa, .nombre_locutor, .corte_programa{
        padding:0;
        margin:0;
    }
}

@media (max-width: 330px) {
    .programacion{
        padding-left:2.8em;
    }
    .dia {
        padding-left: 2em;
    }
    .dias-semana{
        padding-left:0.9em;
    }
    .hora{
        font-size: 0.5em;
    }
}

@font-face {
    font-family: proximanovathin;
    src: url(../../../src/assets/fonts/Proxima-Nova-Thin.otf) format("opentype");
}
@font-face {
    font-family: leaguegothic;
    src: url(../../../src/assets/fonts/League-Gothic/LeagueGothic-Regular.otf) format("opentype");
}