<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',  fullScreenBackdrop:true }"></ngx-loading>
<div class="container-fluid">
  <div class="row week no-padding no-margin">
    <div class="col-xs-12 col-sm-2 titulo-prog">
      <div class="col-xs-6 col-sm-12 programacion">PROGRAMACIÓN</div>
      <div class="col-xs-6 col-sm-12 dia">{{dia}}</div>
    </div>
    <div class="col-xs-12 col-sm-10 dias-semana" style="height:100%;">
      <ul class="prog-header" id="prog-header">      
        <li class="square"><a (click)="getLista('lunes')">LUN</a></li>
        <li class="square"><a (click)="getLista('martes')">MAR</a></li>
        <li class="square"><a (click)="getLista('miércoles')">MIE</a></li>
        <li class="square"><a (click)="getLista('jueves')">JUE</a></li>
        <li class="square"><a (click)="getLista('viernes')">VIE</a></li>
        <li class="square"><a (click)="getLista('sábado')">SÁB</a></li>
        <li class="last-square"><a (click)="getLista('domingo')">DOM</a></li>
      </ul>
    </div>
</div>
<div class="row no-margin no-padding">
    <!--<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',  fullScreenBackdrop:true }"></ngx-loading>-->
    <div class="container-fluid no-margin no-padding">
      <div class="row no-padding no-margin" *ngIf="programasDia">
          <div class="table"><!-- tabla con los datos de los programas -->            
            <table class="table table-striped table-hover">
              <tbody class="">
                <tr *ngFor="let programa of programasDia">
                  <td class="hora col-xs-2 col-sm-2">
                    {{programa.pro_hora_inicio}}                    
                  </td>
                  <td class="linea col-xs-10 col-sm-10">  
                   
                  <div class="panel-heading" role="tab" [id]="'heading'+programa.id">
                      <div class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" [href]="'#collapse'+programa.id" aria-expanded="true" [attr.aria-controls]="'collapse'+programa.id">
                            <p class="nombre_programa">{{programa.pro_nombre.toUpperCase()}} <i class="fas fa-arrow-circle-down"></i></p>
                            <p class="nombre_locutor" *ngIf='programa.pro_locutor_2==null 
                              && programa.pro_locutor_3==null 
                              && programa.pro_locutor_4==null'>
                                {{programa.pro_locutor_1}}
                            </p>                                               
                            <p class="nombre_locutor" *ngIf='programa.pro_locutor_2!=null && programa.pro_locutor_3==null && programa.pro_locutor_4==null'>{{programa.pro_locutor_1}}, {{programa.pro_locutor_2}}</p>                                  
                            <p class="nombre_locutor" *ngIf='programa.pro_locutor_2!=null && programa.pro_locutor_3!=null && programa.pro_locutor_4==null'>{{programa.pro_locutor_1}}, {{programa.pro_locutor_2}}, {{programa.pro_locutor_3}}</p>
                            <p class="nombre_locutor" *ngIf='programa.pro_locutor_2!=null && programa.pro_locutor_3!=null && programa.pro_locutor_4!=null'>{{programa.pro_locutor_1}}, {{programa.pro_locutor_2}}, {{programa.pro_locutor_3}}, {{programa.pro_locutor_4}}</p>                       
                            <p class="corte_programa">{{programa.pro_corte}}</p>   
                        </a>
                      </div>
                    </div>
                    <div [id]="'collapse'+programa.id" class="panel-collapse collapse" role="tabpanel" [attr.aria-labelledby]="'heading'+programa.id">
                        <div class="panel-body">
                          <p class="sinopsis">
                          {{programa.pro_sinopsis}}
                        </p>
                        </div>
                      </div>                    
                  </td>                   
                </tr>                
              </tbody>               
            </table>             
          </div><!-- end data-table-->
      </div><!-- end row programasDia-->
    </div>
  </div>
</div>

