
<div class="container-fluid">
<div class="row" id="top-header">
  <div class="col-lg-2 col-xs-5" id="left-header">
    <a href="https://tnoradio.com">
        <div id="logo"></div>
    </a>
  </div><!-- /.left-header -->
  <div class="col-lg-2 hidden-md hidden-sm hidden-xs"></div>
  <div class="col-lg-2 hidden-md hidden-sm hidden-xs"></div>
  <div class="col-lg-2 hidden-md hidden-sm hidden-xs"></div>  
  <div class="col-lg-2 hidden-md hidden-sm hidden-xs"></div>
  <div class="col-lg-2 col-xs-7" id="right-header">
    <ul class="social-icons">
        <li><a (click)="home()" target="" class="fa fa-home" id="home"></a></li>
        <li><a href="https://www.facebook.com/tnoradio" target="_blank" class="fa fa-facebook" id="facebook"></a></li>
        <!--<li><a href="https://plus.google.com/+tnoradio" target="_blank" class="fa fa-google-plus" id="google-plus"></a></li>-->
        <li><a href="https://www.instagram.com/tnoradio" target="_blank" class="fa fa-instagram" id="instagram"></a></li>
        <!-- <li><a href="https://www.snapchat.com/add/tnoradio" class="fa fa-snapchat" id="snapchat"></a></li>-->
        <li><a href="https://www.twitter.com/tnoradio" target="_blank" class="fa fa-twitter" id="twitter"></a></li>
        <!--<li><a href="https://www.linkedin.com/company/10479652/" target="_blank" class="fa fa-linkedin" id="linkedin"></a></li>-->
        <li >
          <div class="dropdown">
              <a class="fa fa-user-circle-o boton"  data-toggle="dropdown"></a>
              <ul class="dropdown-menu pull-right">
                <li>
                  <button class="boton-inicio" (click)="login()" *ngIf="!isUserLoggedIn">                    
                    <span style="margin-left:1.5em">Iniciar Sesión</span>
                  </button>
                  <button class="boton-inicio" (click)="micuenta()" *ngIf="isUserLoggedIn">                    
                    <span style="margin-left:1.5em">Mi cuenta</span>
                  </button>
                </li>
              <!--  <li>
                    <button  class="boton-inicio" (click)="editarPerfil()" *ngIf="isUserLoggedIn">
                      <span style="margin-left:1.5em">Editar Perfil</span>
                    </button>
                  </li>-->
               <!-- <li>
                  <button  class="boton-inicio" (click)="logout()" *ngIf="isUserLoggedIn">
                    <span style="margin-left:1.5em">Cerrar Sesión</span>
                  </button>
                </li>-->
              </ul>
            </div>
        </li>
      </ul>
  </div><!-- right header-->
</div><!-- /.row -->
</div>