/*------------------------------------------------------
	Header Styles 
--------------------------------------------------------*/
#top-header {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,ffffff+0,207cca+100,01588b+100 */
  background: #85baf7; /* Old browsers */
  background: -moz-linear-gradient(left, #1e5799 0%, #ffffff 0%, #207cca 100%, #01588b 100%); /* FF3.6-15 */
  /*background: -webkit-linear-gradient(left, #1e5799 0%,#ffffff 0%,#207cca 100%,#01588b 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #1e5799 0%,#ffffff 0%,#207cca 100%,#01588b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#01588b',GradientType=1 ); /* IE6-9 */

  height: 35px;
  
}

#logo {
   background-image:url(../../assets/images/logopngnuevopagina768.png);
   background-size:contain;
   background-repeat: no-repeat;
   background-position: left;  
   height: 32px;
   margin-top: 2px;
}

ul {
  list-style-type: none;
  float: right;
}

#left-header {
  height: 35px;
  display: inline-block;
}

#right-header {
  height: 35px;
}

#right-header ul.social-icons li {
   display: inline-block;
   margin-top: 8px;  
   color: white; 
}

#right-header ul.social-icons li a {
 color: white;
 text-align: center;
 margin: 0 4px;
 font-size: 1.5em;
}

#right-header ul.social-icons li a:hover {  
 color: #17BEBB; 
 text-decoration: none;
 cursor: pointer;
}

.boton, .dropdown {
  background-color: transparent;
  border: none;
  padding: 0px;
  margin: 0px;
}

.dropdown-menu {
 /* background-color: whitesmoke;*/
  
}

.dropdown ul.dropdown-menu {
  background-color: whitesmoke;
  color:darkslategrey !important;
}

.dropdown ul.dropdown-menu li {
  font-size: 1.2em;
  color:darkslategrey;
}


ul.dropdown-menu li a {
  border:none; 
  color:darkslategrey;
}

.boton-inicio{
  border:none; 
  color:darkslategrey !important;
  background-color: whitesmoke;
}
 @media only screen and (max-width: 544px)  {  
    #right-header ul.social-icons li {
      margin-top: 10px;
    }
     
    #right-header ul.social-icons li a {
      margin: 0 3px;
      font-size: 1.3em;
    }

    #logo {
      height: 30px;
      margin-top: 3px;
      background-size:contain;
      margin-left: -10px;
    }

    ul {
      margin-right:-10px;
   }
}