.page-container {
    width: 105%;
}

.banners {
    width: 100%;
}


@media only screen and (min-width: 1024px) and (max-width: 1200px)  {   
   .page-container {
        width: 104%;
    
    }

    .col-md-11 {
        margin-left:-3.5%;
       /* transition: all 0.3s;*/
    }
}


@media only screen and (min-width: 1600px)  {  
    .col-md-11 {
        margin-left:-5.5%;
       /* transition: all 0.3s;*/
    }  

}

@media only screen and (max-width: 1023px)  {  
    .side-bar {
        display:none;
    }

    .col-md-11{
        margin-left: 0px;
    }

    .page-container {
        width: 100%;
    }
}


@media only screen and (min-width: 545px) and (max-width: 767px)  {   
    .banners {
    }

}

@media only screen and (min-width: 1000px)   {  
    .banners {
        width: 105%;
    }
}
