<div class="row no-padding no-margin page-container">
    <div class="col-xs-12 col-sm-6 col-lg-7 player no-padding no-margin">
        <app-player></app-player>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-5 player-side no-padding no-margin">
        <app-player-side></app-player-side>
    </div>
</div>
<div class="row no-padding no-margin banners" >
    <app-banners></app-banners>
</div>