.hamburguer{
	padding-top: 15px !important;
	padding-left: 0 !important;
  width: 25px !important;
  z-index: 9999;
  background-color: transparent;
  border:none;
}


.hamburguer .btn-nav:hover { 
	cursor: pointer; 
}

.hamburguer .btn-nav:hover .bar { 
	background: skyblue
}

.hamburguer .bar{
  display: block;
  height: 3px;
  width: 25px;
  background: #fff;
  margin-top: 5px;
}

.hamburguer .btn-nav {
  display: block;
  padding:0;
  width: 25px;
  position: relative;	
  z-index: 9999;
  border-style: none;
  left: -3px;
  top:0px;
  background: transparent;
}

.hamburguer .btn-nav:focus { 
	outline: none; 
}

.menu {
  margin-top:25px;  
}

.menu li a {
  color:white;
  font-family: proximanovabold;
}

.menu li {
  font-size: 0.65em;
  font-weight: 100;
  list-style: none;
  cursor: pointer; 
  position: relative;
  margin-left: -20px;
  color: #ffff;
  text-align: center;
  margin-top:10px;
  border-bottom: solid cornflowerblue 0.1px;
  vertical-align: middle;
  padding-bottom: 10px;
}

.menu li a:hover {
  color: skyblue
}

.side-bar-container {
}

.sidebar {
  background-color: cornflowerblue;
}

/*@media only screen and (min-width:768px )  {  

}*/


/*@media only screen and (min-width:768px ) and (max-width: 900px)  {  
.hamburguer, .btn-nav, .bar {
      margin-top:-8px;
      z-index: 9999;
      margin-left: 10px;
  }

  .hamburguer .btn-nav {
    top: 95px;
    z-index: 9999 !important;
    position: fixed;
  }

  .hamburguer .btn-nav .bar {
    background-color: #01588b;
  }

}

@media only screen and (max-width: 767px)  {  
    .side-menu, .hamburguer, .btn-nav, .bar, .nav-container {
        width: 0px;
        height: 0px;
        margin: 0px !important;
    }
}*/

@font-face {
  font-family: proximanovabold;
  src: url(../../../src/assets/fonts/Proxima-Nova-Bold.otf) format("opentype");
}