<!-- Container for sidebar(s) + page content -->
<div class="container-fluid no-padding">
  <div class="row-fluid no-padding">
     <!-- Page content -->
     <div ng-sidebar-content class="no-padding">
        <div class="hamburguer" (click)="_toggleSidebar()">
          <button class="btn-nav" [style]="getHamburguerStyle()">    
              <div class="bar arrow-top-r"></div>    
              <div class="bar arrow-middle-r"></div>    
              <div class="bar arrow-bottom-r"></div>    
          </button> <!--btn-nav-->   
        </div>
    </div>
  <ng-sidebar-container class="no-padding side-bar-container" style="height:60vh;">
  
      <!-- A sidebar -->
      <ng-sidebar [(opened)]="_opened" [animate]="false" class="no-padding sidebar">
          <ul class="menu">
              <li><a (click)="_toggleSidebar()" (click)="programacion()">PROGRAMACIÓN</a></li>
              <li><a>TALENTOS</a></li>
              <li  *ngIf="!isUserLoggedIn"><a (click)="login()">SOLICITAR<br/> ENTREVISTA</a></li>
              <li  *ngIf="isUserLoggedIn"><a (click)="micuenta()">SOLICITAR<br/> ENTREVISTA</a></li>
              <li  *ngIf="!isUserLoggedIn"><a (click)="login()">SOLICITAR<br/> TARIFAS</a></li>
              <li  *ngIf="isUserLoggedIn"><a (click)="micuenta()">SOLICITAR<br/> TARIFAS</a></li>
              <li  *ngIf="!isUserLoggedIn"><a (click)="login()">SOLICITAR<br/> ESPACIO</a></li>
              <li  *ngIf="isUserLoggedIn"><a (click)="micuenta()">SOLICITAR<br/> ESPACIO</a></li>
              <li  *ngIf="!isUserLoggedIn"><a (click)="login()">SOLICITAR<br/> PATROCINIO</a></li>
              <li  *ngIf="isUserLoggedIn"><a (click)="micuenta()">SOLICITAR<br/> PATROCINIO</a></li>
              <li  *ngIf="!isUserLoggedIn"><a (click)="login()">SOLICITAR<br/> PAUTA PARA <br/> GRABACIÓN</a></li>
              <li  *ngIf="isUserLoggedIn"><a (click)="micuenta()">SOLICITAR<br/> PAUTA PARA <br/> GRABACIÓN</a></li>
          </ul>
      </ng-sidebar>
    </ng-sidebar-container>    
  </div>
</div>