.player-tno-radio {
    margin-left:0px;
    margin-right:0px;
    height:380px;
    overflow: hidden;
    padding-top: 0px;
}

.player-box {
    background-color: black;
    height: 377px;
    overflow: hidden;
    /*width:55.5%;*/
}

@media only screen and (min-width:1600px) and (max-width: 1899px) {  
    
}

@media only screen and (min-width: 1600px)  {   
    .player-tno-radio {
        height:630px;
        overflow: hidden;
        padding-top: 0px;
    }
    
    .player-box {
        height: 627px;
    }
}

@media only screen and (min-width: 900px) and (max-width:1023px) {  
    .player-tno-radio {       
       /* width: 58.2%;*/
    }
}


@media only screen and (min-width: 768px) and (max-width:899px) {  
    .player-tno-radio {  
        padding:0;
        margin: 0;     
        overflow: hidden;  
    }

   
    .player-tno-radio {
        height:380px;
        width: 100%;
        margin-left: 0px;
        margin-top: 5%;
    }

    .player-box {
        vertical-align: middle;
        height: 360px;
    }
}

@media only screen and (min-width: 545px) and (max-width: 767px)  {     
    .player-tno-radio  {
        
        width: 100%;
    }

    .player-box {
        width: 100%;
        text-align: center;
    }

}

@media only screen and (max-width: 544px)  {  
    .player-tno-radio {
        height:250px; 
        width: 100%;
    }

    .player-box {
        height:250px; 
        background-color: black;
        width: 100%;
    }
}


@media only screen and (max-width: 767px)  { 
    .player-tno-radio {
        width: 100%;
    }
}