<div class="container-fluid no-padding no-margin">
  <div class="row player no-padding no-margin">
    <div class="player-box col no-margin no-padding">               
    <iframe src="https://tnoradio.com/viejo/player_nuevo.php" width="100%" 
    class="player-tno-radio" frameborder="0" allowfullscreen scrolling="no"></iframe>

   <!-- <video id="my_video_1" class="video-js vjs-theme-colors-blue player-tno-radio" controls preload="auto" 
  data-setup='{}'>
    <source src="https://tnoradio.lorini.net/tnoradio/tnoradio/playlist.m3u8" type="application/x-mpegURL">
  </video>-->
    </div>              
  </div><!--row-->
</div><!-- contaner-fluid-->
