.footer {
    /*background-color: #303461;*/
  	background: linear-gradient(to bottom, #00588e , #303461);
	padding-top:30px;
	padding-left: 0%;
	padding-bottom: 10px;
	padding-right: 20px;
	width: 110%;
	z-index: 9999;
	overflow: hidden !important;	
}

li a {
	cursor: pointer;
	color: whitesmoke;
}

li a:hover {
	color: cornflowerblue;
}

.bottom {
	width: 115.5%;
}

.temp_col12	{
	color: whitesmoke;
	border-color: #0869e7;
}

.estudios, .menu {
	padding-left: 2%;
}
.contacto {
	padding-right: 10px;
}

.estudios h2 {
	margin-left:-11px;
	margin-bottom: 15px;
}

.contacto h2 {
	margin-bottom: 15px;
}

.contacto span {
	line-height: 1.5em;
}

.blue-border {
	border-bottom: #0869e7 1px solid;
}

h2 {
	font-size: 20px;
	font-weight: 600;
}

.clear	{ clear: both;}

.footer ul {
	float: left;
	margin: 0px;
	padding: 0px;
}

.footer ul li {
	padding: 0px;
	margin: 0px;
	list-style: none;
}
.footer ul li:before {
  color: whitesmoke; 
	font-size: 2.5em;
  vertical-align: middle;
	line-height: 20px;
	margin-right: 5px;
}

.footer span.left {
	float: left;
	color:#0869e7;
	font-size: 1.5em;
	text-align: left;
	line-height: 20px;
}
.footer span.right {
	float: left;
}

.footer span.left.fa-envelope { font-size: 1.2em;}


.gallery_item {
    width: 65px;
    height: 50px;
	padding:0px;
	padding-left: 5px;
  }

  
@media only screen and (max-width: 544px) { 
    .footer {
			width: 109%;
			overflow-x: hidden !important;	
			padding-bottom: 10px;	
			margin-top: -10px;
			padding-left: 10px;					
	}

	.menu, .estudios, .contacto, .tno{
		width: 100%;
		padding: 0px;
		margin: 0px;
		padding-left: 2%;
	}

	.estudios, .contacto {
		margin-top: 20px;	
	}

	.estudios {
		padding-left: 5%;
	}
	
	.blue-border {
		border: none;
	}
}

@media only screen and (min-width: 768px) and (max-width:1023px) {  
	.footer {
		margin-top: -40px;	
		width: 105%;
		padding-bottom: 30px;
		overflow: hidden !important;
	}
	.menu, .estudios, .contacto, .tno{
		width: 80%;
	}

	.estudios, .contacto {
		margin-top: 30px;
	}

	.estudios h2, .contacto h2 {
		margin-bottom: 15px;
	}

	.estudios {
		padding-left: 40px;
	}

	.tno {
		padding-left:30px;
	}

	.menu, .contacto {
		border:none;
		padding-left: 30px;
	}
}

@media only screen and (min-width: 545px) and (max-width: 767px)  {   
	.estudios {
		padding-left: 25px;
	}

	.estudios, .contacto {
		margin-top: 20px;
	}

	.footer {
		width: 110%;	
	}
}