<div class="container-fluid">
    <div class="row footer">
      <div class="col-xs-6 col-lg-3 temp_col12 tno">
        <h2 class="blue-border">TNO Radio</h2>
          <p> Somos la primera radio online de Venezuela y los verdaderos
              pioneros de la radio visual desde 2014. Más de 30 producciones independientes y más de 40 talentos. #ConéctatealPoderdelaRadio.</p>
      </div>
      <div class="col-xs-6 col-lg-3 temp_col12 hidden-sm-down menu">
        <h2 class="blue-border">Menú</h2>
        <ul>
          <!---- <li>Talentos</li>-->
          <li><a [routerLink]="[{outlets: {site: ['programacion']}}]">Nuestra Programación</a></li>                
          <li><a (click)="login()" *ngIf="!isUserLoggedIn">Solicitar Entrevista</a></li>
          <li><a (click)="micuenta()" *ngIf="isUserLoggedIn">Solicitar Entrevista</a></li>
          <li><a (click)="login()" *ngIf="!isUserLoggedIn">Solicitar Patrocinio para Eventos</a></li>
          <li><a (click)="micuenta()" *ngIf="isUserLoggedIn">Solicitar Patrocinio para Eventos</a></li>
          <li><a (click)="login()" *ngIf="!isUserLoggedIn">Solicitar Tarifas Comerciales</a></li>
          <li><a (click)="micuenta()" *ngIf="isUserLoggedIn">Solicitar Tarifas Comerciales</a></li>
          <li><a (click)="login()" *ngIf="!isUserLoggedIn">Solicitar Pauta de Grabación</a></li>
          <li><a (click)="micuenta()" *ngIf="isUserLoggedIn">Solicitar Pauta de Grabación</a></li>
          <li><a (click)="login()" *ngIf="!isUserLoggedIn">Solicitar Espacio para Programa</a></li>
          <li><a (click)="micuenta()" *ngIf="isUserLoggedIn">Solicitar Espacio para Programa</a></li>
        </ul>
      </div>
      <div class="col-xs-6 col-lg-3 temp_col12 estudios">
        <h2 class="blue-border">Estudios</h2>
        <div class="footer_gallery" >
          <div class="">
            <div class="row imagetiles" style="padding:0px;">
                <a href="../../../assets/images/flicker/1.jpg"><img class="gallery_item" src="../../../assets/images/flicker/s1.jpg" target="_blank" alt="image 1" /></a>
                <a href="../../../assets/images/flicker/2.jpg"><img class="gallery_item" src="../../../assets/images/flicker/s2.jpg" target="_blank" alt="image 2"/></a>
                <a href="../../../assets/images/flicker/3.jpg"><img class="gallery_item" src="../../../assets/images/flicker/s3.jpg" target="_blank" alt="image 3"/></a>
            </div>
            <div class="row imagetiles"  style="margin-top:5px;">
                <a href="../../../assets/images/flicker/4.jpg"><img class="gallery_item" src="../../../assets/images/flicker/s4.jpg" target="_blank" alt="image 4"/></a>                            
                <a href="../../../assets/images/flicker/5.jpg"><img class="gallery_item" src="../../../assets/images/flicker/s5.jpg" target="_blank" alt="image 5"/></a>
                <a href="../../../assets/images/flicker/6.jpg"><img class="gallery_item" src="../../../assets/images/flicker/s6.jpg" target="_blank" alt="image 6" /></a>                               
            </div>
          </div>
        </div>                            
      </div>
      <div class="col-xs-6 col-lg-3 temp_col12 contacto">
      <h2 class="blue-border">Contacto</h2>
        <span class="left col-xs-1 fa fa-map-marker"></span>
          <a  href="https://goo.gl/maps/63n2XQrPJS72"><span class="right col-xs-10"> &nbsp; C.C.C.T. Torre Pirámide Invertida.</span></a>
          <div class="clear height10"></div>
          <span class="left col-xs-1 fa fa-phone"></span>
          <span class="right col-xs-10"> &nbsp; (+58) 212-959-61-56</span>
          <div class="clear height10"></div>
          <span class="left col-xs-1 fa fa-envelope"></span>
          <span class="right col-xs-10"> &nbsp; info@tnoradio.com</span>
          <div class="clear height10"></div>
          <div class="clear"></div>
      </div>
    </div>
  </div>
 <!--Footer End-->
 <div class="bottom">
    <app-bottom></app-bottom>
 </div>
       