<div *ngIf="role=='Administrador'" class="form-group col-xs-12 col-sm-6">
    <label for="status">Estatus</label>
          <select class="form-control" 
                  formControlName="status" 
                  name="status" 
                  list="statusList" 
                  autocomplete="off" 
                  id="status">
              <option value="" [selected]="Seleccione">Seleccione</option>
              <option *ngFor="let item of statusList" value="{{item}}">{{item}}</option>
          </select>
      <div class="col-sm-12 text-left">
          <span class="help-block text-danger col-xs-12 " *ngIf="form_agregar_solicitud.get('status').touched && (form_agregar_solicitud.get('status').hasError('required') || form_agregar_solicitud.get('status').hasError('invalid'))">Debes rellenar este campo.</span>                            
      </div>
  </div><!-- End class form-group col-xs-12 status-->