<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',  fullScreenBackdrop:true }"></ngx-loading>
<div class="container-fluid no-padding no-margin" style="overflow:hidden;">
  <div class="row">
    <div class="col-xs-1 col-sm-2 col-md-3"></div>
    <div class="col-xs-10 col-sm-8 col-md-6 forma">           
      <div class="titulo-forma"></div>  
      <div *ngIf="programa" class="form-group">
        <div class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <label>Nombre</label>
          </div>
          <h6>{{programa.pro_nombre}}</h6>
        </div>
        <div class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <label>Corte</label>
          </div>
          <h6>{{programa.pro_corte}}</h6>
        </div>          
        <div class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <label>Sinopsis</label>
          </div>
          <h6>{{programa.pro_sinopsis}}</h6>
        </div>
        <div class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <label>Tipo</label>
            </div>
            <h6>{{programa.pro_tipo}}</h6>
          </div>
        <div class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <label>Clasificación</label>
            </div>
            <h6>{{programa.pro_clasificacion}}</h6>
          </div>
        <div class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <label>Día(s) de Transmisión</label>
          </div>
          <h6>{{programa.pro_dia_semana}}</h6>
        </div>
        <div class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <label>Hora de Inicio</label>
          </div>
          <h6>{{programa.pro_hora_inicio}}</h6>
        </div>
        <div class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <label>Hora Fin</label>
          </div>
          <h6>{{programa.pro_hora_fin}}</h6>
        </div>
        <div class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <label>E-mail</label>
          </div>
          <h6>{{programa.pro_email}}</h6>
        </div>
        <div class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <label>Productor</label>
          </div>
          <h6>{{programa.pro_productor}}</h6>
        </div>
        <div class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <label>Fecha Origen</label>
            </div>
            <h6>{{programa.pro_fecha_origen}}</h6>
        </div>
        <div class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <label>Locutores</label>
            </div>
            <h6 *ngIf='programa.pro_locutor_2==null && programa.pro_locutor_3==null && programa.pro_locutor_4==null' class="info">{{programa.pro_locutor_1}}</h6>                                  
            <h6 *ngIf='programa.pro_locutor_2!=null && programa.pro_locutor_3==null && programa.pro_locutor_4==null' class="info">{{programa.pro_locutor_1}}, {{programa.pro_locutor_2}}</h6>                                  
            <h6 *ngIf='programa.pro_locutor_2!=null && programa.pro_locutor_3!=null && programa.pro_locutor_4==null' class="info">{{programa.pro_locutor_1}}, {{programa.pro_locutor_2}}, {{programa.pro_locutor_3}}</h6>
            <h6 *ngIf='programa.pro_locutor_2!=null && programa.pro_locutor_3!=null && programa.pro_locutor_4!=null' class="info">{{programa.pro_locutor_1}}, {{programa.pro_locutor_2}}, {{programa.pro_locutor_3}}, {{programa.pro_locutor_4}}</h6>       
        </div>
        <div *ngIf='programa.pro_instagram!=null' class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <label>Instagram</label>
            </div>
            <h6>@{{programa.pro_instagram}}</h6>
        </div>
        <div *ngIf='programa.pro_twitter!=null' class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <label>Twitter</label>
          </div>
          <h6>@{{programa.pro_twitter}}</h6>
        </div>
        <div *ngIf='programa.pro_facebook!=null' class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <label>Facebook</label>
          </div>
          <h6>@{{programa.pro_facebook}}</h6>
        </div>
        <div *ngIf='programa.pro_snapchat!=null' class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <label>Snapchat</label>
          </div>
          <h6>@{{programa.pro_snapchat}}</h6>
        </div>          
      <div class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <label>Habilitado</label>
        </div>
        <h6 *ngIf="programa.habilitado==1">Sí</h6>
        <h6 *ngIf="programa.habilitado==0">No</h6>
        </div>
        <div class="flex-column">
          <a class="col-xs-6" (click)="volver()">Volver</a>
          <a *ngIf="role=='Administrador'" class="col-xs-6 text-right" (click)="update(programa.id)">Modificar</a>
        </div>
      </div><!--end list-group-->
    </div><!--end col-10-->
    <div class="col-xs-1 col-sm-2 col-md-3"></div>
  </div><!--end row-->
</div><!--end container-fluid-->
