        
<!-- Main content -->
<div class="content container-fluid">        
    <div class="row" id="titulo">
        <h1 class="text-center">TNO Radio te da la bienvenida,</h1>
        <h1 class="text-center">{{user.name}}</h1>
        <!--  <div class="text-center" style="margin-top:8vh">
            <a pageScroll href="#menu" [pageScrollDuration]="250"><h1 class="fa fa-arrow-circle-down"></h1></a>          
        </div>-->
    </div>
</div>

