#titulo {
    padding-top:0;
   /* background-image: url(../../assets/images/fondos/fondo-home-titulo.jpg);*/
   /*padding-right: 10em;*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
    0px -5px 35px rgba(255,255,255,0.3);
}

#titulo h1 {
    color:whitesmoke; 
    font-size: 3em;
}

#titulo .text-center a:hover h1{
    color: #17BEBB; 
    text-decoration: none;
    cursor: pointer;
}


@media only screen and (min-width: 1024px) and (max-width:1200px)  {
    #titulo {
        padding-top: 14vh;
        height: 90vh;
    }
} 

@media only screen and (min-width: 768px) and (max-width:1023px)  { 
    #titulo {
        background-image: url(../../assets/images/fondos/fondo-home-titulo-responsive.jpg);
        background-size: cover;
        height:85vh;
        padding-top:9vh;
    }

    #titulo {
        padding-top: 14vh;
        height: 90vh;
    }
    .caja {
        padding-left: 8%;
        padding-top:1.8vh;
        font-size: 1.5em;
    }
    
}

@media only screen and (max-width: 544px)  { 
    #menu, #titulo {
        height:82vh;
    }

    #titulo h1 {
        font-size: 3em;
    }

    .caja {
        padding-left: 7%;
        padding-top:1.5vh;
    }
    
}