<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',  fullScreenBackdrop:true }"></ngx-loading>
<div class="container-fluid no-padding no-margin" style="overflow:hidden;">
    <div class="row">
        <div class="col-xs-1 col-sm-2"></div>
        <div class="col-xs-10 col-sm-8 forma">  
            <div class="titulo-forma"></div>           
            <form novalidate (ngSubmit)="onSubmit(form_registro_usuario)" [formGroup]="form_registro_usuario">
                <div class="form-group col-xs-12">
                    <label for="name">Nombre (*)</label>
                    <input type="text" formControlName="name" id="name" class="form-control" name="name" autocomplete="off" ng-maxlength="60" required>
                    <div class="col-sm-12 text-left">
                        <span class="help-block text-danger" *ngIf="form_registro_usuario.get('name').touched && (form_registro_usuario.get('name').hasError('required') || form_registro_usuario.get('name').hasError('invalid'))">Debes rellenar este campo</span>
                        <span class="help-block text-danger" *ngIf="form_registro_usuario.get('name').touched && form_registro_usuario.get('name').hasError('maxlength')">Este campo requiere menos de 60 caracteres.</span>
                        <span class="help-block text-danger" *ngIf="form_registro_usuario.get('name').touched && form_registro_usuario.get('name').hasError('invalidString')">This field only admits letters from a-z and A-Z.</span>
                        <span class="help-block text-danger" *ngIf="form_registro_usuario.get('name').touched && form_registro_usuario.get('name').hasError('tooManyWords')">Too many words. This field admits three words or less.</span>
                    </div>
                </div><!-- End class form-group col-xs-12 name-->
                <div class="form-group col-xs-12">
                    <label for="lastname">Apellido (*)</label>
                    <input type="text" formControlName="lastname" id="lastname" class="form-control" name="lastname" autocomplete="off" ng-maxlength="60" required>
                    <div class="col-sm-12 text-left">
                        <span class="help-block text-danger" *ngIf="form_registro_usuario.get('lastname').touched && (form_registro_usuario.get('lastname').hasError('required') || form_registro_usuario.get('lastname').hasError('invalid'))">Debes rellenar este campo</span>
                        <span class="help-block text-danger" *ngIf="form_registro_usuario.get('lastname').touched && form_registro_usuario.get('lastname').hasError('maxlength')">Este campo requiere menos de 60 caracteres.</span>
                        <span class="help-block text-danger" *ngIf="form_registro_usuario.get('lastname').touched && form_registro_usuario.get('lastname').hasError('invalidString')">This field only admits letters from a-z and A-Z.</span>
                        <span class="help-block text-danger" *ngIf="form_registro_usuario.get('lastname').touched && form_registro_usuario.get('lastname').hasError('tooManyWords')">Too many words. This field admits three words or less.</span>
                    </div>
                </div><!-- End class form-group col-xs-12 lastname-->
                <div class="form-group col-xs-12 col-sm-6">
                    <label for="email">E-mail (*)</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                        <input type="text" formControlName="email" id="email" class="form-control" name="email" autocomplete="off" ng-maxlength="60" required>
                    </div>
                    <div class="col-sm-12 text-left">
                        <span class="help-block text-danger" *ngIf="form_registro_usuario.get('email').touched && form_registro_usuario.get('email').hasError('required')">Este campo es obligatorio.</span>
                        <span class="help-block text-danger" *ngIf="form_registro_usuario.get('email').touched && form_registro_usuario.get('email').hasError('invalidEmail')">Invalid email. Format.: user@domain.com</span>
                        <span class="help-block text-danger" *ngIf="form_registro_usuario.get('email').touched && form_registro_usuario.get('email').hasError('maxlength')">Este campo requiere menos de 40 caracteres.</span>
                    </div>
                </div><!-- End class form-group col-xs-12 email-->  
                <div class="form-group col-xs-12 col-sm-6">
                    <label for="birthdate">Fecha de Nacimiento (*) </label>
                    <div class="form-group">        
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                                <input type="date" date-format='YYYY-MM-DD' class="form-control pull-right" formControlName="birthdate" id="datepicker" name="birthdate" required>
                        </div>
                        <div class="col-sm-12 text-left">
                            <span class="help-block text-danger" *ngIf="form_registro_usuario.get('birthdate').touched && (form_registro_usuario.get('birthdate').hasError('required') || form_registro_usuario.get('birthdate').hasError('invalid'))">Debes rellenar este campo</span>
                            <span class="help-block text-danger" *ngIf="form_registro_usuario.get('birthdate').touched && form_registro_usuario.get('birthdate').hasError('invalidFutureDate')">Fecha futura.</span>
                            <span class="help-block text-danger" *ngIf="form_registro_usuario.get('birthdate').touched && form_registro_usuario.get('birthdate').hasError('invalidDateDayRange')">Día inválido.</span>
                            <span class="help-block text-danger" *ngIf="form_registro_usuario.get('birthdate').touched && form_registro_usuario.get('birthdate').hasError('invalidDateYearRange')">Año inválido.</span>
                            <span class="help-block text-danger" *ngIf="form_registro_usuario.get('birthdate').touched && form_registro_usuario.get('birthdate').hasError('invalidUnderAge')">Los usuarios deben ser mayores de 18 años.</span>
                            <span class="help-block text-danger" *ngIf="form_registro_usuario.get('birthdate').touched && form_registro_usuario.get('birthdate').hasError('invalidDateFormat')">Formato de fecha inválido. Must be YYYY-MM-DD</span>
                        </div>                        
                    </div>                                     
                </div>
                <div class="form-group col-xs-12 col-sm-6">
                    <label for="instagram">Instagram</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i>@</i></span>
                        <input type="text" formControlName="instagram" id="instagram" class="form-control" instagram="instagram" autocomplete="off" ng-maxlength="60">
                    </div>
                    <div class="col-sm-12 text-left">
                        <span class="help-block text-danger" *ngIf="form_registro_usuario.get('instagram').touched && form_registro_usuario.get('instagram').hasError('maxlength')">Este campo requiere menos de 60 caracteres.</span>
                    </div>
                </div><!-- End class form-group col-xs-12 instagram-->
                <div class="form-group col-xs-12 col-sm-6">
                    <label for="twitter">Twitter</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i>@</i></span>
                        <input type="text" formControlName="twitter" id="twitter" class="form-control" twitter="twitter" autocomplete="off" ng-maxlength="60">
                    </div>
                    <div class="col-sm-12 text-left">
                        <span class="help-block text-danger" *ngIf="form_registro_usuario.get('twitter').touched && form_registro_usuario.get('twitter').hasError('maxlength')">Este campo requiere menos de 60 caracteres.</span>
                    </div>
                </div><!-- End class form-group col-xs-12 twitter-->
                <div class="form-group col-xs-12 col-sm-6">
                    <label for="facebook">Facebook</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i>@</i></span>
                        <input type="text" formControlName="facebook" id="facebook" class="form-control" facebook="facebook" autocomplete="off" ng-maxlength="60">
                    </div>
                    <div class="col-sm-12 text-left">
                        <span class="help-block text-danger" *ngIf="form_registro_usuario.get('facebook').touched && form_registro_usuario.get('facebook').hasError('maxlength')">Este campo requiere menos de 60 caracteres.</span>
                    </div>
                </div><!-- End class form-group col-xs-12 facebook-->               
                <div class="form-group col-xs-12 col-xs-12">              
                    <span style="color:red;">(*) Obligatorio.</span>
                </div> 
                <div class="form-group col-xs-4 col-sm-6"></div>
                <div class="form-group col-xs-4 col-sm-3">
                    <button type="submit" class="btn btn-primary boton-enviar" [disabled]="!form_registro_usuario.valid">Guardar</button>
                </div>
                <div class="form-group col-xs-4 col-sm-3">
                    <button class="btn btn-danger boton-enviar">
                        <a style="color:white" (click)="volver()"> Cancelar</a></button>
                </div>                
            </form>            
        </div>
        <div class="col-xs-1 col-sm-2"></div>
    </div>
</div>
