.container-fluid {
   // background-image: url(../../assets/images/fondos/fondo-prgramacion-tnoradio.jpg);
    background-size: cover;
    background-position: center;
    min-height:85vh !important;
    background-repeat: no-repeat;
}

th {
    color:white;
    font-weight: 500;
}

.boton-info {
    color: mediumblue;
}

/*button {
    background: transparent;
    border:none;
}*/

@media only screen and (max-width: 768px)  { 
    .container-fluid {
        //background-image: url(../../assets/images/fondos/fondo-prgramacion-tnoradio-responsive.jpg);
        background-size: cover;
        height:85vh;
    }
}

@media only screen and (max-width: 544px)  { 
    .container-fluid {
        height:82vh;
    }
}