<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',  fullScreenBackdrop:true }"></ngx-loading>
<div class="container-fluid">
  <div class="row" *ngIf="programas">
    <div class="col-md-1"></div>
    <div class="col-md-10"> 
      <div class="table-responsive"><!-- tabla con los datos de los programas -->            
        <table class="table table-sm table-striped table-hover">
          <thead class="thead-dark">
            <tr>
              <!--<th>Id</th>-->
              <th>Nombre</th>
              <th>Hora</th>                              
              <th>Días</th> 
              <th>Locutores</th>                                                       
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let programa of programas | paginate: { itemsPerPage: 20, currentPage: p }">
              <!--<td>{{programa.id}}</td>-->
              <td class="col-xs-3 info">{{programa.pro_nombre}}</td>    
              <td class="col-xs-1 info">{{programa.pro_hora_inicio}}</td>
              <td class="col-xs-2 info">{{programa.pro_dia_semana}}</td>
              <td *ngIf='programa.pro_locutor_2==null 
                        && programa.pro_locutor_3==null 
                        && programa.pro_locutor_4==null' 
                   class="col-xs-3 info">{{programa.pro_locutor_1}}
              </td>                                  
              <td *ngIf='programa.pro_locutor_2!=null && programa.pro_locutor_3==null && programa.pro_locutor_4==null' class="info">{{programa.pro_locutor_1}}, {{programa.pro_locutor_2}}</td>                                  
              <td *ngIf='programa.pro_locutor_2!=null && programa.pro_locutor_3!=null && programa.pro_locutor_4==null' class="info">{{programa.pro_locutor_1}}, {{programa.pro_locutor_2}}, {{programa.pro_locutor_3}}</td>
              <td *ngIf='programa.pro_locutor_2!=null && programa.pro_locutor_3!=null && programa.pro_locutor_4!=null' class="info">{{programa.pro_locutor_1}}, {{programa.pro_locutor_2}}, {{programa.pro_locutor_3}}, {{programa.pro_locutor_4}}</td>                                                                    
              <td class="col-xs-3 info">                                    
                <button class="btn btn-info .btn-sm" 
                (click)="detallePrograma(programa.id)"><i class="fa fa-search-plus "></i></button>
                &nbsp;<button *ngIf="programa.autorizado==true || role_ == 'Administrador'" 
                        class="btn btn-primary .btn-sm" 
                        (click)="actualizarPrograma(programa.id)"><i class="fa fa-pencil "></i></button>
                &nbsp;<button *ngIf="role_ == 'Administrador'"
                        data-toggle='modal' 
                        data-target="#confirm" 
                        (click)="setClient(programa.id)" 
                        class="btn btn-danger .btn-sm"><i class="fa fa-trash "></i>
                </button>
              </td>
            </tr>
          </tbody>               
        </table>   
        <pagination-controls (pageChange)="p = $event" style="float:right"></pagination-controls>        
        <div id="confirm" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                  <h6>Eliminar Programa</h6>
              </div>
              <div class="modal-body">
                  ¿Realmente desea eliminar este programa?
              </div>
              <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn">NO</button>
                <button (click)="delete(clientid)" type="button" data-dismiss="modal" class="btn btn-danger">
                    <i class="fa fa-trash"></i>&nbsp;
                    SÍ
                </button>
              </div>
            </div>
          </div> <!-- end modal dialog -->
        </div><!-- end modal -->
      </div><!-- end data-table-->
     </div><!-- end col 10-->
    <div class="col-md-1"></div>
  </div><!-- end row programas-->
</div>

