<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop:true  }"></ngx-loading>
<div class="container-fluid no-padding no-margin" style="overflow:hidden;">
    <div class="row">
        <div class="col-xs-1 col-md-2"></div>
        <div class="col-xs-10 col-md-8 forma">           
            <div class="titulo-forma"></div>
            <form  novalidate (ngSubmit)="onSubmit(form_agregar_solicitud)" [formGroup]="form_agregar_solicitud">
                <div class="form-group col-xs-12">
                    <label for="nombre_entrevistado">Nombre del Entrevistado. (*)</label>
                    <input type="text" formControlName="nombre_entrevistado" id="nombre_entrevistado" class="form-control" name="nombre_entrevistado" ng-maxlength="60" required>
                    <div class="col-sm-12 text-left">
                        <span class="help-block text-danger col-xs-12 " *ngIf="form_agregar_solicitud.get('nombre_entrevistado').touched && (form_agregar_solicitud.get('nombre_entrevistado').hasError('required') || form_agregar_solicitud.get('nombre_entrevistado').hasError('invalid'))">Debes rellenar este campo.</span>                            
                        <span class="help-block text-danger col-xs-12 " *ngIf="form_agregar_solicitud.get('nombre_entrevistado').touched && form_agregar_solicitud.get('nombre_entrevistado').hasError('maxlength')">This field requires less than 60 chars.</span>
                    </div>
                </div>
                <div class="form-group col-xs-12">
                    <label for="tema_entrevista">Tema que Desea Tratar en la Entrevista. (*)</label>
                    <input type="text" formControlName="tema_entrevista" id="tema_entrevista" class="form-control" name="tema_entrevista" ng-maxlength="60" required>
                    <div class="col-sm-12 text-left">
                        <span class="help-block text-danger col-xs-12" *ngIf="form_agregar_solicitud.get('tema_entrevista').touched && (form_agregar_solicitud.get('tema_entrevista').hasError('required') || form_agregar_solicitud.get('tema_entrevista').hasError('invalid'))">Debes rellenar este campo.</span>                            
                        <span class="help-block text-danger col-xs-12" *ngIf="form_agregar_solicitud.get('tema_entrevista').touched && form_agregar_solicitud.get('tema_entrevista').hasError('maxlength')">This field requires less than 60 chars.</span>
                    </div>
                </div>
                <div class="form-group col-xs-12 no-padding">  
                    <div class="checkbox">
                        <label for="programa_especifico" class="col-xs-12">¿Desea ir a un Programa en Específico? &nbsp; &nbsp; &nbsp; &nbsp;
                        <input 
                            type="checkbox" 
                            formArrayName="programa_especifico" 
                            class=""
                            (change)="changeProgramaEspecifico()">                             
                        </label>
                    </div>
                </div><!-- end programa_especifico --> 

                <div class="form-group col-xs-12">
                        <label for="programa_id">
                            Programa. Si aplica.
                          </label>
                        <select class="form-control" 
                                formControlName="programa_id" 
                                name="programa_id" 
                                list="programas" 
                                autocomplete="off" 
                                id="programa_id">
                            <option value="" [selected]="">Seleccione</option>
                            <option *ngFor="let item of programas" value="{{item.id}}">{{item.pro_nombre}}</option>
                        </select>
                </div><!-- End class form-group col-xs-12 status-->  
                
              <div class="form-group col-xs-12 col-sm-6 no-padding">  
                  <div class="checkbox">
                      <label for="conoce_tno" class="col-xs-12">¿Conoce TNO? &nbsp; &nbsp; &nbsp; &nbsp;
                      <input 
                          type="checkbox" 
                          formArrayName="conoce_tno" 
                          class=""
                          (change)="changeConoceTNO()">                             
                      </label>
                  </div>
              </div><!-- end conoce_tno --> 

                <div class="col-xs-12 col-sm-6" >
                    <div class="form-group">
                        <label for="ultima_entrevista">Fecha Última Entrevista. Si aplica. </label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="date" class="form-control" formControlName="ultima_entrevista" placeholder="AAAA-MM-DD"
                            date-format="YYYY-MM-DD" date-only=true name="ultima_entrevista">
                        </div>
                        <div class="col-xs-12 text-left">
                            <span class="help-block text-danger col-xs-12 " *ngIf="form_agregar_solicitud.get('ultima_entrevista').touched && (form_agregar_solicitud.get('ultima_entrevista').hasError('required') || form_agregar_solicitud.get('ultima_entrevista').hasError('invalid'))">Debes rellenar este campo.</span>
                            <span class="help-block text-danger col-xs-12 " *ngIf="form_agregar_solicitud.get('ultima_entrevista').touched && form_agregar_solicitud.get('ultima_entrevista').hasError('invalidFutureDate')">Future date.</span>
                            <span class="help-block text-danger col-xs-12 " *ngIf="form_agregar_solicitud.get('ultima_entrevista').touched && form_agregar_solicitud.get('ultima_entrevista').hasError('invalidDateDayRange')">Invalid Day.</span>
                            <span class="help-block text-danger col-xs-12 " *ngIf="form_agregar_solicitud.get('ultima_entrevista').touched && form_agregar_solicitud.get('ultima_entrevista').hasError('invalidDateYearRange')">Invalid Year.</span>
                            <span class="help-block text-danger col-xs-12 " *ngIf="form_agregar_solicitud.get('ultima_entrevista').touched && form_agregar_solicitud.get('ultima_entrevista').hasError('invalidDateFormat')">Invalid date format. Must be AAAA-MM-DD</span>
                        </div>
                    </div>    
                </div>
                <div class="form-group col-xs-12 col-sm-6">
                    <label for="instagram">Instagram</label>
                    <div class="input-group">
                        <span class="input-group-addon">@</span>
                        <input type="text" formControlName="instagram" id="instagram" class="form-control" name="instagram" autocomplete="off" ng-maxlength="60">
                    </div>
                    <div class="col-sm-12 text-left">
                        <span class="help-block text-danger" *ngIf="form_agregar_solicitud.get('instagram').touched && form_agregar_solicitud.get('instagram').hasError('maxlength')">Este espacio requiere menos de 60 caracteres.</span>
                    </div>
                </div><!-- End class form-group col-xs-12 instagram-->
                <div class="form-group col-xs-12 col-sm-6">
                    <label for="twitter">Twitter</label>
                    <div class="input-group">
                        <span class="input-group-addon">@</span>
                        <input type="text" formControlName="twitter" id="twitter" class="form-control" name="twitter" autocomplete="off" ng-maxlength="60">
                    </div>
                    <div class="col-sm-12 text-left">
                        <span class="help-block text-danger" *ngIf="form_agregar_solicitud.get('twitter').touched && form_agregar_solicitud.get('twitter').hasError('maxlength')">Este espacio requiere menos de 60 caracteres.</span>
                    </div>
                </div><!-- End class form-group col-xs-12 twitter-->
                <div class="form-group col-xs-12 col-sm-6">
                    <label for="facebook">Facebook</label>
                    <div class="input-group">
                            <span class="input-group-addon">@</span>
                        <input type="text" formControlName="facebook" id="facebook" class="form-control" name="facebook" autocomplete="off" ng-maxlength="60">
                    </div>
                    <div class="col-sm-12 text-left">
                        <span class="help-block text-danger" *ngIf="form_agregar_solicitud.get('facebook').touched && form_agregar_solicitud.get('facebook').hasError('maxlength')">Este espacio requiere menos de 60 caracteres.</span>
                    </div>
                </div><!-- End class form-group col-xs-12 facebook-->
                <div class="form-group col-xs-12 col-sm-6">
                    <label for="snapchat">Snapchat</label>
                    <div class="input-group">
                        <span class="input-group-addon">@</span>
                        <input type="text" formControlName="snapchat" id="snapchat" class="form-control" name="snapchat" autocomplete="off" ng-maxlength="60">
                    </div>
                    <div class="col-sm-12 text-left">
                        <span class="help-block text-danger" *ngIf="form_agregar_solicitud.get('snapchat').touched && form_agregar_solicitud.get('snapchat').hasError('maxlength')">Este espacio requiere menos de 60 caracteres.</span>
                    </div>
                </div><!-- End class form-group col-xs-12 snapchat-->               
                <div class="form-group col-xs-12">
                    <label for="comentarios">Dudas o Comentarios.</label>
                    <textarea type="textarea" formControlName="comentarios" id="comentarios" class="form-control" name="comentarios" autocomplete="off" ng-maxlength="500"></textarea>
                    <div class="col-sm-12 text-left">
                        <span class="help-block text-danger col-xs-12 " *ngIf="form_agregar_solicitud.get('comentarios').touched && (form_agregar_solicitud.get('comentarios').hasError('required') || form_agregar_solicitud.get('comentarios').hasError('invalid'))">Debes rellenar este campo.</span>
                        <span class="help-block text-danger col-xs-12 " *ngIf="form_agregar_solicitud.get('comentarios').touched && form_agregar_solicitud.get('comentarios').hasError('maxlength')">This field requires less than 60 chars.</span>
                    </div>
                </div>
                
                <div class="form-group col-xs-12 col-xs-12">              
                    <span style="color:red;">(*) Obligatorio.</span>
                </div> 
                <div class="form-group col-xs-4 col-sm-6"></div>
                <div class="form-group col-xs-4 col-sm-3">
                    <button type="submit" class="btn btn-primary boton-enviar" [disabled]="!form_agregar_solicitud.valid">Guardar</button>
                </div>
                <div class="form-group col-xs-4 col-sm-3">
                    <button class="btn btn-danger boton-enviar"
                        (click)="volver()">Cancelar</button>
                </div>
            </form>            
        </div>
        <div class="col-xs-1 col-md-2"></div>
    </div>
</div>