<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',  fullScreenBackdrop:true }"></ngx-loading>
<div class="container-fluid no-padding no-margin" style="overflow:hidden;">
  <div class="row">
    <div class="col-xs-1 col-sm-2 col-md-3"></div>
    <div class="col-xs-10 col-sm-8 col-md-6 forma">           
      <div class="titulo-forma"></div>  
      <div *ngIf="solicitud" class="form-group">
        <div class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <label>A nombre de quien se emite</label>
          </div>
          <h6>{{solicitud.cliente}}</h6>
        </div>
        <div class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <label>Nombre del Solicitante</label>
          </div>
          <h6>{{user.name}} {{user.lastname}}</h6>
        </div>
        <div class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <label>Correo para respuesta</label>
          </div>
          <h6>{{user.email}}</h6>
        </div>
        <div class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <label>Estatus</label>
          </div>
          <h6>{{solicitud.status}}</h6>
        </div>          
        <div class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <label>Fecha de Solicitud</label>
          </div>
          <h6>{{solicitud.created_at}}</h6>
        </div>
        <div class="flex-column">
          <a class="col-xs-6" (click)="volver()">Volver</a>
          <a *ngIf="role=='Administrador'" class="col-xs-6 text-right" (click)="update(solicitud.id)">Modificar</a>
        </div>
      </div><!--end list-group-->
    </div><!--end col-10-->
    <div class="col-xs-1 col-sm-2 col-md-3"></div>
  </div><!--end row-->
</div><!--end container-fluid-->
