<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',  fullScreenBackdrop:true }"></ngx-loading>
<div class="container-fluid no-padding no-margin" style="overflow:hidden;">
  <div class="row">
    <div class="col-xs-1 col-sm-2 col-md-3"></div>
    <div class="col-xs-10 col-sm-8 col-md-6 forma">           
      <div class="titulo-forma"></div>  
      <div class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <label>Nombre</label>
          </div>
          <h6>{{solicitante.name}} {{solicitante.lastname}}</h6>
        </div>
        <div class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <label>Email</label>
          </div>
          <h6>{{solicitante.email}}</h6>
        </div>
        <div class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <label>Tiene Demo</label>
          </div>
          <h6 *ngIf="solicitud.demo==true">Sí</h6>
          <h6 *ngIf="solicitud.demo==false">No</h6>
        </div>
       
      <div class="list-group-item list-group-item-action flex-column align-items-start">
          <div *ngIf="solicitud.demo==true"  class="d-flex w-100 justify-content-between">
            <label>Link Demo</label>
          </div>
          <h6>{{solicitud.demo_link}}</h6>
      </div>
      <div class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <label>Corte</label>
        </div>
        <h6>{{solicitud.corte}}</h6>
      </div>
      <div class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <label>Segmento Objetivo</label>
        </div>
        <h6>{{solicitud.seg_objetivo}}</h6>
      </div>          
      <div class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <label>Días que desea Transmtir</label>
        </div>
        <h6>{{solicitud.dias}}</h6>
      </div>
      <div class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <label>Tiene Experiencia en Medios Tradicionales</label>
        </div>
        <h6 *ngIf="solicitud.experiencia_medios==true">Sí</h6>
        <h6 *ngIf="solicitud.experiencia_medios==false">No</h6>
      </div>
      <div class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <label>Tiene Experiencia en Medios Online</label>
          </div>
          <h6 *ngIf="solicitud.experiencia_medios_online==true">Sí</h6>
        <h6 *ngIf="solicitud.experiencia_medios_online==false">No</h6>
      </div>
      <div class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <label>Tiene Vínculo con Otros Medios</label>
          </div>
          <h6 *ngIf="solicitud.vinculo_otros_medios==true">Sí</h6>
        <h6 *ngIf="solicitud.vinculo_otros_medios==false">No</h6>
      </div>
      <div class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <label>Tipo de Experiencia en Medios</label>
          </div>
          <h6>{{solicitud.tipo_experiencia}}</h6>
      </div>
      <div class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <label>Conductor</label>
          </div>
          <h6>{{solicitud.conductor_1}}</h6>
      </div>
      <div class="flex-column">
        <a class="col-xs-6" (click)="volver()">Volver</a>
        <a *ngIf="role=='Administrador'" class="col-xs-6 text-right" (click)="update(solicitud.id)">Modificar</a>
      </div>
    </div><!--end col-10-->
    <div class="col-xs-1 col-sm-2 col-md-3"></div>
  </div><!--end row-->
</div><!--end container-fluid-->
