<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop:true  }"></ngx-loading>
<div class="container-fluid no-padding no-margin" style="overflow:hidden;">
    <div class="row">
        <div class="col-xs-1 col-md-2"></div>
        <div class="col-xs-10 col-md-8 forma">           
            <div class="titulo-forma"></div>
            <form  novalidate (ngSubmit)="onSubmit(form_agregar_pago)" [formGroup]="form_agregar_pago">
                <div class="form-group col-xs-12">
                    <label for="referencia">Número de Referencia. (*)</label>
                    <input type="text" formControlName="referencia" id="referencia" class="form-control" name="referencia" ng-maxlength="60" required>
                    <div class="col-sm-12 text-left">
                        <span class="help-block text-danger col-xs-12 " *ngIf="form_agregar_pago.get('referencia').touched && (form_agregar_pago.get('referencia').hasError('required') || form_agregar_pago.get('referencia').hasError('invalid'))">Debes rellenar este campo.</span>                            
                        <span class="help-block text-danger col-xs-12 " *ngIf="form_agregar_pago.get('referencia').touched && form_agregar_pago.get('referencia').hasError('maxlength')">Ese campo requiere menos de  60 caracteres.</span>
                    </div>
                </div>
                <div class="form-group col-xs-12">
                    <label for="monto">Monto. (*)</label>
                    <input type="text" formControlName="monto" id="monto" class="form-control" name="monto" ng-maxlength="20" required>
                    <div class="col-sm-12 text-left">
                        <span class="help-block text-danger col-xs-12" *ngIf="form_agregar_pago.get('monto').touched && (form_agregar_pago.get('monto').hasError('required') || form_agregar_pago.get('monto').hasError('invalid'))">Debes rellenar este campo.</span>                            
                        <span class="help-block text-danger col-xs-12" *ngIf="form_agregar_pago.get('monto').touched && form_agregar_pago.get('monto').hasError('maxlength')">Ese campo requiere menos de  60 caracteres.</span>
                    </div>
                </div>
                <div class="form-group col-xs-12">
                    <label for="banco_origen">Banco Emisor. (*)</label>
                    <input type="text" formControlName="banco_origen" id="banco_origen" class="form-control" name="banco_origen" ng-maxlength="60" required>
                    <div class="col-sm-12 text-left">
                        <span class="help-block text-danger col-xs-12" *ngIf="form_agregar_pago.get('banco_origen').touched && (form_agregar_pago.get('banco_origen').hasError('required') || form_agregar_pago.get('banco_origen').hasError('invalid'))">Debes rellenar este campo.</span>                            
                        <span class="help-block text-danger col-xs-12" *ngIf="form_agregar_pago.get('banco_origen').touched && form_agregar_pago.get('banco_origen').hasError('maxlength')">Ese campo requiere menos de  60 caracteres.</span>
                    </div>
                </div>
                <div class="form-group col-xs-12">
                    <label for="banco_destino">Banco Receptor. (*)</label>
                    <input type="text" formControlName="banco_destino" id="banco_destino" class="form-control" name="banco_destino" ng-maxlength="60" required>
                    <div class="col-sm-12 text-left">
                        <span class="help-block text-danger col-xs-12" *ngIf="form_agregar_pago.get('banco_destino').touched && (form_agregar_pago.get('banco_destino').hasError('required') || form_agregar_pago.get('banco_destino').hasError('invalid'))">Debes rellenar este campo.</span>                            
                        <span class="help-block text-danger col-xs-12" *ngIf="form_agregar_pago.get('banco_destino').touched && form_agregar_pago.get('banco_destino').hasError('maxlength')">Ese campo requiere menos de  60 caracteres.</span>
                    </div>
                </div>
                <div class="form-group col-xs-12 no-padding">  
                    <div class="checkbox">
                        <label for="programa_especifico" class="col-xs-12">¿El pago corresponde a un programa específico? &nbsp; &nbsp; &nbsp; &nbsp;
                        <input 
                            type="checkbox" 
                            checked = "programa_especifico"
                            formArrayName="programa_especifico" 
                            class=""
                            (change)="changeProgramaEspecifico()">                             
                        </label>
                    </div>
                </div><!-- end programa_especifico --> 

                <div class="form-group col-xs-12">
                        <label for="programa_id">
                            Programa. Si aplica.
                          </label>
                        <select class="form-control" 
                                formControlName="programa_id" 
                                name="programa_id" 
                                list="programas" 
                                autocomplete="off" 
                                id="programa_id">
                            <option value="" [selected]="">Seleccione</option>
                            <option *ngFor="let item of programas" value="{{item.id}}">{{item.pro_nombre}}</option>
                        </select>
                </div><!-- End class form-group col-xs-12 status-->  
                
                <div class="form-group col-xs-12 col-sm-6">
                    <label for="fecha_transaccion">Fecha de Inicio (*) </label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="date" class="form-control" formControlName="fecha_transaccion" placeholder="AAAA-MM-DD"
                        date-format="YYYY-MM-DD" date-only=true name="fecha_transaccion" required>
                    </div>
                    <div class="col-xs-12 text-left">
                        <span class="help-block text-danger col-xs-12 " *ngIf="form_agregar_pago.get('fecha_transaccion').touched && (form_agregar_pago.get('fecha_transaccion').hasError('required') || form_agregar_pago.get('fecha_transaccion').hasError('invalid'))">Debes rellenar este campo.</span>
                        <span class="help-block text-danger col-xs-12 " *ngIf="form_agregar_pago.get('fecha_transaccion').touched && form_agregar_pago.get('fecha_transaccion').hasError('invalidFutureDate')">Future date.</span>
                        <span class="help-block text-danger col-xs-12 " *ngIf="form_agregar_pago.get('fecha_transaccion').touched && form_agregar_pago.get('fecha_transaccion').hasError('invalidDateDayRange')">Invalid Day.</span>
                        <span class="help-block text-danger col-xs-12 " *ngIf="form_agregar_pago.get('fecha_transaccion').touched && form_agregar_pago.get('fecha_transaccion').hasError('invalidDateYearRange')">Invalid Year.</span>
                        <span class="help-block text-danger col-xs-12 " *ngIf="form_agregar_pago.get('fecha_transaccion').touched && form_agregar_pago.get('fecha_transaccion').hasError('invalidDateFormat')">Invalid date format. Must be AAAA-MM-DD</span>
                    </div>
                </div>   
                <div class="form-group col-xs-12 col-sm-6">
                    <label for="hora_transaccion">Hora de la Transacción (*)&nbsp;</label>  
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-clock-o"></i>
                        </div>
                        <input type="time" class="form-control timepicker" formControlName="hora_transaccion" required>                                    
                    </div>                                          
                </div><!--End class form-group -->                   
                <div class="form-group col-xs-12">
                    <label for="concepto">Concepto. (*)</label>
                    <textarea type="textarea" formControlName="concepto" id="concepto" class="form-control" name="concepto" autocomplete="off" ng-maxlength="200" required></textarea>
                    <div class="col-sm-12 text-left">
                        <span class="help-block text-danger col-xs-12 " *ngIf="form_agregar_pago.get('concepto').touched && (form_agregar_pago.get('concepto').hasError('required') || form_agregar_pago.get('concepto').hasError('invalid'))">Debes rellenar este campo.</span>
                        <span class="help-block text-danger col-xs-12 " *ngIf="form_agregar_pago.get('concepto').touched && form_agregar_pago.get('concepto').hasError('maxlength')">Ese campo requiere menos de 200 caracteres.</span>
                    </div>
                </div>
                
                <div *ngIf="role=='Administrador'" class="form-group col-xs-12 col-sm-6">
                    <label for="status">Estatus</label>
                        <select class="form-control" 
                                formControlName="status" 
                                name="status" 
                                list="statusList" 
                                autocomplete="off" 
                                id="status">
                            <option value="status_" [selected]="status_">{{status_}}</option>
                            <option *ngFor="let item of statusList" value="{{item}}">{{item}}</option>
                        </select>
                    <div class="col-sm-12 text-left">
                        <span class="help-block text-danger col-xs-12 " *ngIf="(form_agregar_pago.get('status').hasError('required') || form_agregar_pago.get('status').hasError('invalid'))">Debes rellenar este campo.</span>                            
                    </div>
                </div><!-- End class form-group col-xs-12 status-->
                
                <div class="form-group col-xs-12 col-xs-12">              
                    <span style="color:red;">(*) Obligatorio.</span>
                </div> 
                <div class="form-group col-xs-4 col-sm-6"></div>
                <div class="form-group col-xs-4 col-sm-3">
                    <button type="submit" class="btn btn-primary boton-enviar" [disabled]="!form_agregar_pago.valid">Guardar</button>
                </div>
                <div class="form-group col-xs-4 col-sm-3">
                    <button class="btn btn-danger boton-enviar"
                        (click)="volver()">Cancelar</button>
                </div>
            </form>            
        </div>
        <div class="col-xs-1 col-md-2"></div>
    </div>
</div>