<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',  fullScreenBackdrop:true }"></ngx-loading>
<div class="container-fluid no-padding no-margin" style="overflow:hidden;">
    <div class="row">
        <div class="col-xs-1 col-sm-2 col-md-3"></div>
        <div class="col-xs-10 col-sm-8 col-md-6 forma">  
            <div class="titulo-forma"></div>           
            <form novalidate (ngSubmit)="onSubmit(form_solicitud_tarifas)" [formGroup]="form_solicitud_tarifas">
                <div class="form-group col-xs-12">
                    <label for="cliente">Nombre del Cliente (*)</label>
                    <input type="text" formControlName="cliente" id="cliente" class="form-control" name="cliente" autocomplete="off" ng-maxlength="60" required>
                    <div class="col-sm-12 text-left">
                        <span class="help-block text-danger" *ngIf="form_solicitud_tarifas.get('cliente').touched && (form_solicitud_tarifas.get('cliente').hasError('required') || form_solicitud_tarifas.get('cliente').hasError('invalid'))">Debes rellenar este campo</span>
                        <span class="help-block text-danger" *ngIf="form_solicitud_tarifas.get('cliente').touched && form_solicitud_tarifas.get('cliente').hasError('maxlength')">Este campo requiere menos de 60 caracteres.</span>
                        <span class="help-block text-danger" *ngIf="form_solicitud_tarifas.get('cliente').touched && form_solicitud_tarifas.get('cliente').hasError('invalidString')">This field only admits letters from a-z and A-Z.</span>
                        <span class="help-block text-danger" *ngIf="form_solicitud_tarifas.get('cliente').touched && form_solicitud_tarifas.get('cliente').hasError('tooManyWords')">Too many words. This field admits three words or less.</span>
                    </div>
                </div><!-- End class form-group col-xs-12 cliente-->                           
                <div class="form-group col-xs-12 col-xs-12">              
                    <span style="color:red;">(*) Obligatorio.</span>
                </div> 
                <div class="form-group col-xs-4 col-sm-6"></div>
                <div class="form-group col-xs-4 col-sm-3">
                    <button type="submit" class="btn btn-primary boton-enviar" [disabled]="!form_solicitud_tarifas.valid">Guardar</button>
                </div>
                <div class="form-group col-xs-4 col-sm-3">
                    <button class="btn btn-danger boton-enviar">
                        <a style="color:white" (click)="volver()"> Cancelar</a></button>
                </div>                
            </form>            
        </div>
        <div class="col-xs-1 col-sm-2 col-md-3"></div>
    </div>
</div>
