.bottom	{  
	padding: 20px 0px;
	padding-left: 15px;
	color: whitesmoke; 
	width: 100%; 
	background: #333536;
	padding-right: 10px;
	height: 50px;
	}
.bottom .right fa { padding: 15px;}
.bottom .right div.soc {
	width: 28px;
	height: 28px;
	text-align: center;
	font-size: 12px;
	line-height: 28px;
	background: #c6cfd3;
	color: #333536;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}

.bottom .right a:hover div.soc{
	background: #0869e7;
}

@media only screen and (max-width: 544px) { 
	.bottom {
		width: 100%;
		overflow: hidden !important;
		padding-right: 10px;
        padding-top: 10px;
        height: 40px;				
    }
}

@media only screen and (min-width: 768px) and (max-width:1023px) {  
	.bottom {
		width: 100%;
		overflow: hidden !important;
        padding-right: 10px;
        padding-top:15px;				
    }
}

@media only screen and (min-width: 545px) and (max-width: 767px)  {   
	.bottom {
		padding-top:10px;
	}
}