<!-- Bottom Start -->
<div class="bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-8 left text-left">
                <span>Copyright © 2014 <a href="#">Software Agency</a></span>
            </div>
              <!--<div class="col-3 right text-right" style="float:right">
                <a href="#"><div class="fa fa-rss soc"></div></a>
                  <a href="https://www.twitter.com/softwareagency"><div class="fa fa-twitter soc"></div></a>
              </div>-->
          </div>
      </div>
  </div>
  <!-- Bottom End -->