<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop:true  }"></ngx-loading>
<div class="container-fluid">
  <div class="row" *ngIf="users">
    <div class="col-md-1"></div>
    <div class="col-md-10">             
      <div class="table-responsive datatable"><!-- tabla con los datos de los users -->            
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <!--<th>Id</th>-->
              <th>Nombre</th>
              <th>Apellido</th>  
              <th>Cédula</th>                              
              <th>Email</th> 
              <th>Rol</th>                                                       
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users | paginate: { itemsPerPage: 20, currentPage: p }">
              <!--<td>{{user.id}}</td>-->
              <td class="info">{{user.name}}</td>    
              <td class="info">{{user.lastname}}</td>
              <td class="info">{{user.us_id}}</td>
              <td class="info">{{user.email}}</td>
              <td class="info">{{user.role}}</td>                                  
              <td class="info">                                    
                <button class="btn btn-info .btn-sm" 
                    (click)="detalleUsuario(user.id)"><i class="fa fa-search-plus "></i>
                </button>
                  &nbsp;<button *ngIf="role_ == 'Administrador'" 
                            class="btn btn-primary .btn-sm"
                            (click) = "actualizarUsuario(user.id)"
                        ><i class="fa fa-pencil "></i>
                            
                        </button>
                    &nbsp;<button *ngIf="role_ == 'Administrador'" 
                  data-toggle='modal' data-target="#confirm" (click)="setClient(user.id)" class="btn btn-danger .btn-sm"><i class="fa fa-trash "></i></button>
              </td>
            </tr>
          </tbody>
          
        </table>    
        <pagination-controls (pageChange)="p = $event" style="float:right"></pagination-controls>           
        <div id="confirm" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                  <h6>Eliminar user</h6>
              </div>
              <div class="modal-body">
                  ¿Realmente desea eliminar este user?
              </div>
              <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn">NO</button>
                <button (click)="delete(clientid)" type="button" data-dismiss="modal" class="btn btn-danger">
                    <i class="fa fa-trash"></i>&nbsp;
                    SÍ
                </button>
              </div>
            </div>
          </div> <!-- end modal dialog -->
        </div><!-- end modal -->
      </div><!-- end data-table-->     
    </div><!-- end col 10-->
    <div class="col-md-1"></div>
  </div><!-- end row users-->
</div>

