.container-fluid {
    background-image: url(../../assets/images/fondos/audifonos_home_tnoradio.jpg);
    background-size: cover;
    background-position: center;
    min-height:76.5vh !important;
    background-repeat: no-repeat;
    overflow-y: hidden;
}

th {
    color:white;
    font-weight: 300;
}