.content-wrapper {
  background-image: url(../../assets/images/fondos/fondo-home-titulo.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height:180vh !important; 
}

/*[data-toggle="collapse"]:after {
  font-family:Fontawesome;
  content:'\f077';
  float:right;
  padding-right: 20px;
  font-size:10px;
  font-weight:200;
  }   
[data-toggle="collapse"].collapsed:after {
  font-family:Fontawesome;
  content:'\f078';
}*/

.sidebar-sub-menu {
  padding-left: 10px;
}

.solicitud {
  font-size: 1.1em;
}

.side-titulo, .side-titulo a {
  color:white;
}

.panel-body, .panel-heading, .panel-title, .panel, .panel-default, #accordion, h4 {
  border:none;
  background-color:transparent;
  color:white;
  
}
.panel-heading {
  background-color:transparent;
  color:white;
}

.panel-default>.panel-heading {
  background-color:transparent;
  color:white;
}

.panel-heading:hover {
  background-color: #333;
}

/*.logo {
  background-image:url(../../assets/images/logopngnuevopagina768.png);
  background-size:contain;
  background-repeat: no-repeat;
  background-position: left;  
  height:50px;
  background-color: white;
}*/


#menu {
  background-image: url(../../assets/images/fondos/fondo-home-tnoradio.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top:12vh;
  margin-top:-10vh;
}

  nav.sidebar, .main{
    -webkit-transition: margin 300ms ease-out;
      -moz-transition: margin 300ms ease-out;
      -o-transition: margin 300ms ease-out;
      transition: margin 300ms ease-out;
  }

  .main{
    padding: 10px 10px 0 20px;
  }

  a.side-titulo {
    color:white;
  }

  @media (min-width: 765px) {

    .main{
      position: absolute;
      width: calc(100% - 40px); 
      margin-left: 40px;
      float: right;
    }

    nav.sidebar:hover + .main{
      margin-left: 200px;
    }

    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
      margin-left: 0px;
    }

    nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
      text-align: center;
      width: 100%;
      margin-left: 0px;
    }
    
    nav.sidebar a{
      padding-right: 13px;
    }

    nav.sidebar .navbar-nav > li:first-child{
      border-top: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav > li{
      border-bottom: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
      padding: 0 0px 0 0px;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
      color: #777;
    }

    nav.sidebar{
      width: 200px;
      margin-left: -160px;
      float: left;
      margin-bottom: 0px;
    }

    nav.sidebar li {
      width: 100%;
    }

    nav.sidebar:hover{
      margin-left: 0px;
    }

    .forAnimate{
      opacity: 0;
    }
  }
   
  @media (min-width: 1330px) {

    .main{
      width: calc(100% - 200px);
      margin-left: 200px;
    }

    nav.sidebar{
      margin-left: 0px;
      float: left;
    }

    nav.sidebar .forAnimate{
      opacity: 1;
    }
  }

  nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #CCC;
    background-color: transparent;
  }

  nav:hover .forAnimate{
    opacity: 1;
  }
  section{
    padding-left: 15px;
  }
  
 