<div class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  <header class="main-header">
    <!-- Logo -->
    <a href="#" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>TNO</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>TNO</b> RADIO</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->
         <!-- <li class="dropdown messages-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-envelope-o"></i>
              <span class="label label-success">4</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 4 messages</li>
              <li>-->
                <!-- inner menu: contains the actual data -->
                <!--<ul class="menu">
                  <li>-->
                    <!-- start message -->
                    <!--<a href="#">
                      <div class="pull-left">
                        <img src="../../assets/images/default-user.png" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        Support Team
                        <small><i class="fa fa-clock-o"></i> 5 mins</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>-->
                  <!-- end message -->
                <!--  <li>
                    <a href="#">
                      <div class="pull-left">
                        <img src="../../assets/images/default-user.png" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        AdminLTE Design Team
                        <small><i class="fa fa-clock-o"></i> 2 hours</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="pull-left">
                        <img src="../../assets/images/default-user.png" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        Developers
                        <small><i class="fa fa-clock-o"></i> Today</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="pull-left">
                        <img src="../../assets/images/default-user.png" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        Sales Department
                        <small><i class="fa fa-clock-o"></i> Yesterday</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="pull-left">
                        <img src="../../assets/images/default-user.png" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        Reviewers
                        <small><i class="fa fa-clock-o"></i> 2 days</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="footer"><a href="#">See All Messages</a></li>
            </ul>
          </li>-->
          <!-- Notifications: style can be found in dropdown.less
          <li class="dropdown notifications-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <span class="label label-warning">10</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 10 notifications</li>
              <li>
                inner menu: contains the actual data 
                <ul class="menu">
                  <li>
                    <a href="#">
                      <i class="fa fa-users text-aqua"></i> 5 new members joined today
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
                      page and may cause design problems
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-users text-red"></i> 5 new members joined
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-user text-red"></i> You changed your username
                    </a>
                  </li>
                </ul>
              </li>
              <li class="footer"><a href="#">View all</a></li>
            </ul>
          </li>     -->   
           <!--User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="../../assets/images/default-user.png" class="user-image" alt="User Image">
              <span class="hidden-xs">{{user.name}} {{user.lastname}}</span>
            </a>
            <ul class="dropdown-menu">
              <!--User image -->
              <li class="user-header">
                <img src="../../assets/images/default-user.png" class="img-circle" alt="User Image">

                <p>
                  {{user.name}} {{user.lastname}} - {{user.role}}
                </p>
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a  [routerLink] ="[{outlets: {homesesion: ['actualizarusuario', id]}}]" 
                    class="btn btn-default btn-flat"
                    (click)="setTitle('Editar Perfil')">Editar Perfil</a>
                </div>
                <div class="pull-right">
                  <a (click)='logout()' href="#" class="btn btn-default btn-flat">Cerrar Sesión</a>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button
          <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li> -->
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="../../assets/images/default-user.png" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>{{user.name}} {{user.lastname}}</p>
        </div>
      </div>
      <div id="accordion" class="">
      <!--usuarios-->
      <div *ngIf="role=='Administrador'" class="panel">
        <div class="panel-heading">
          <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapseUsuarios" data-parent="#accordion">
                  <i class="fa fa-user"></i><span>&nbsp; Usuarios</span>
              </a>
          </h4>
        </div>
        <div id="collapseUsuarios" class="panel-collapse collapse">
          <ul class="sidebar-menu sidebar-sub-menu">
            <li class="treeview" (click)="setTitle('Lista de Usuarios')">
              <a [routerLink] ="[{outlets: {homesesion: ['usuarios']}}]">
                <i class=""></i> Lista de Usuarios
              </a>
            </li>
            <li class="treeview">
              <a [routerLink]="[{outlets: {homesesion: ['registrousuario']}}]">
                <i class=""></i> Crear Usuario
              </a>
            </li>
          </ul>
        </div>
      </div><!--usuarios-->
    <!-- programas-->
    <div class="panel">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#headingProgramas" data-parent="#accordion">
            <i class="fa fa-clock-o"></i> <span>&nbsp; Programas</span>
          </a>
        </h4>
      </div>
      <div id="headingProgramas" class="panel-collapse collapse">
        <ul class="sidebar-menu sidebar-sub-menu">
          <li class="treeview" (click)="setTitle('Lista de Programas')">
            <a [routerLink] ="[{outlets: {homesesion: ['listaprogramas']}}]">
              <i class=""></i> Lista de Programas
            </a>
          </li>
          <li *ngIf="role=='Administrador' || role=='Productor' 
                  || role=='Locutor' || role=='Productor y Locutor'
                  || role=='Asistente de Producción'" class="treeview">
            <a [routerLink]="[{outlets: {homesesion: ['crearprograma']}}]">
              <i class=""></i> Crear Programa
            </a>
          </li>
        </ul>
      </div>
    </div><!--programas-->
    <!-- pagos -->
    <div *ngIf="role=='Administrador' || role=='Productor' 
              || role=='Locutor' || role=='Productor y Locutor'
              || role=='Asistente de Producción'"class="panel">
      <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapsePagos" data-parent="#accordion">
              <i class="fa fa-money"></i> <span>&nbsp; Pagos</span>
            </a>
          </h4>
      </div>
      <div id="collapsePagos" class="panel-collapse collapse">
        <ul class="sidebar-menu sidebar-sub-menu">
          <li class="treeview">
              <a [routerLink]="[{outlets:{homesesion:['pagos']}}]">
                <i class=""></i> Lista de Pagos
              </a>
          </li>
          <li class="treeview">
            <a [routerLink]="[{outlets: {homesesion: ['registropago']}}]">
              <i class=""></i> Registrar Pago
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- pagos -->
     <!-- asistencia -->
     <div *ngIf="role=='Operador' || role=='Administrador'" class="panel">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapseAsistencia" data-parent="#accordion">
            <i class="fab fa-earlybirds"></i><span>&nbsp; Asistencia</span>
          </a>
        </h4>
      </div>
      
      <div id="collapseAsistencia" class="panel-collapse collapse">
        <ul class="sidebar-menu sidebar-sub-menu">
          <li class="treeview">
              <a [routerLink]="[{outlets:{homesesion:['listaturnos']}}]">
                <i class=""></i> Lista de Turnos
              </a>
          </li>
          <li *ngIf="hayTurno==false" class="treeview">
            <a [routerLink]="[{outlets: {homesesion: ['registroturno']}}]">
              <i class=""></i> Marcar Entrada
            </a>
          </li>
          <li *ngIf="hayTurno==true" class="treeview">
            <a [routerLink]="[{outlets: {homesesion: ['marcarsalida']}}]">
              <i class=""></i> Marcar Salida
            </a>
          </li>
        </ul>
      </div>
    </div> <!--asistencia-->
     <!-- solicitudes -->
    <div  class="panel" id="collapse-solicitudes">    
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#headingSolicitudes" data-parent="#accordion">
            <i class="fa fa-share"></i><span>&nbsp;Solicitudes</span>
          </a>
        </h4>
      </div>    
      <div>
        <ul id="headingSolicitudes" class="panel-collapse collapse sidebar-menu sidebar-sub-menu">
          <!-- Tarifas--> 
          <li class="treeview">
            <a data-toggle="collapse" href="#collapseTarifas">
              <span class="sidebar-sub-menu solicitud">Tarifas</span>
            </a>   
            <div id="collapseTarifas" class="collapse"  data-parent="#collapse-solicitudes">
              <ul class="sidebar-menu sidebar-sub-menu">
                <li class="sidebar-sub-menu"><a [routerLink]="[{outlets: {homesesion: ['solicitartarifas']}}]"> Solicitar</a></li>
                <li class="sidebar-sub-menu"><a [routerLink]="[{outlets: {homesesion: ['solicitudestarifas']}}]"> Lista de Solicitudes</a></li>
              </ul>
            </div>
          </li> <!--Panel Tarifas-->
        <!-- Pautas Grabación-->
          <li class="treeview">       
            <a data-toggle="collapse" href="#collapsePautas">
              <span class="sidebar-sub-menu solicitud">Pautas de Grabación</span>
            </a>       
            <div id="collapsePautas" class="collapse" data-parent="#collapse-solicitudes">
              <ul class="sidebar-menu sidebar-sub-menu">
                <li class="sidebar-sub-menu"><a [routerLink]="[{outlets: {homesesion: ['solicitarpauta']}}]"> Solicitar</a></li>
                <li class="sidebar-sub-menu"><a [routerLink]="[{outlets: {homesesion: ['solicitudespautas']}}]"> Lista de Solicitudes</a></li>
              </ul>
            </div>
          </li><!--panel Pautas pautas Grabación -->
        <!-- Patrocinio-->
          <li class="treeview">          
            <a data-toggle="collapse" href="#collapsePatrocinio">
              <span class="sidebar-sub-menu solicitud">Patrocinio de Eventos</span>
            </a>   
            <div id="collapsePatrocinio" class="collapse" data-parent="#collapse-solicitudes">
              <ul class="sidebar-menu sidebar-sub-menu">
                  <li class="sidebar-sub-menu"><a [routerLink]="[{outlets: {homesesion: ['solicitarpatrocinio']}}]"> Solicitar</a></li>
                  <li class="sidebar-sub-menu"><a [routerLink]="[{outlets: {homesesion: ['solicitudespatrocinio']}}]"> Lista de Solicitudes</a></li>
              </ul>
            </div>
          </li><!-- patrocinio -->
          <!-- Entrevistas-->
          <li class="treeview">       
            <a data-toggle="collapse" href="#collapseEntrevistas">
              <span class="sidebar-sub-menu solicitud">Entrevistas</span>
            </a>  
            <div id="collapseEntrevistas" class="collapse" data-parent="#collapse-solicitudes">
              <ul class="sidebar-menu sidebar-sub-menu">
                <li class="sidebar-sub-menu"><a [routerLink]="[{outlets: {homesesion: ['solicitarentrevista']}}]"> Solicitar</a></li>
                <li class="sidebar-sub-menu"><a [routerLink]="[{outlets: {homesesion: ['solicitudesentrevistas']}}]"> Lista de Solicitudes</a></li>
              </ul>
            </div>
          </li><!-- entrevistas -->
         <!-- Espacios-->
          <li class="treeview">       
            <a data-toggle="collapse" href="#collapseEspacios">
              <span class="sidebar-sub-menu solicitud">Espacios</span>
            </a>  
            <div id="collapseEspacios" class="collapse" data-parent="#collapse-solicitudes">
              <ul class="sidebar-menu sidebar-sub-menu">
                <li class="sidebar-sub-menu"><a [routerLink]="[{outlets: {homesesion: ['solicitarespacio']}}]"> Solicitar</a></li>
                <li class="sidebar-sub-menu"><a [routerLink]="[{outlets: {homesesion: ['listasolicitudespacio']}}]"> Lista de Solicitudes</a></li>
              </ul>
            </div>
          </li>
          <!-- entrevistas -->
        </ul><!-- -->
    </div><!--headingSolicitudes-->
  </div>
</div>
  
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header side-titulo">
      <h1 class="side-titulo">
        {{title}}
        <small class="side-titulo">Sistema TNO Radio</small>
      </h1>
      <ol class="breadcrumb side-titulo">
        <li><a class="side-titulo" [routerLink]="['/sesion']"><i class="fa fa-dashboard side-titulo"></i>Sesión</a></li>
        <li class="active side-titulo">{{title}}</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Main row -->
      <div class="row">
        <router-outlet name="homesesion"></router-outlet>
      </div>
      <!-- /.row (main row) -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
<!--  <aside class="control-sidebar control-sidebar-dark">
     Create the tabs 
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
      <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
      <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
    </ul>
     Tab panes 
    <div class="tab-content">
     Home tab content 
      <div class="tab-pane" id="control-sidebar-home-tab">
        <h3 class="control-sidebar-heading">Recent Activity</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-birthday-cake bg-red"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                <p>Will be 23 on April 24th</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-user bg-yellow"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>

                <p>New phone +1(800)555-1234</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>

                <p>nora@example.com</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-file-code-o bg-green"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>

                <p>Execution time 5 seconds</p>
              </div>
            </a>
          </li>
        </ul>
        /.control-sidebar-menu 

        <h3 class="control-sidebar-heading">Tasks Progress</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Custom Template Design
                <span class="label label-danger pull-right">70%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Update Resume
                <span class="label label-success pull-right">95%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-success" style="width: 95%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Laravel Integration
                <span class="label label-warning pull-right">50%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Back End Framework
                <span class="label label-primary pull-right">68%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
              </div>
            </a>
          </li>
        </ul>
        /.control-sidebar-menu 

      </div>
      /.tab-pane -->
      <!-- Stats tab content
      <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
       /.tab-pane -->
      <!-- Settings tab content
      <div class="tab-pane" id="control-sidebar-settings-tab">
        <form method="post">
          <h3 class="control-sidebar-heading">General Settings</h3>

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Report panel usage
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Some information about this general settings option
            </p>
          </div>
           /.form-group 

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Allow mail redirect
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Other sets of options are available
            </p>
          </div>
        /.form-group 

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Expose author name in posts
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Allow the user to show his name in blog posts
            </p>
          </div>
           /.form-group 

          <h3 class="control-sidebar-heading">Chat Settings</h3>

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Show me as online
              <input type="checkbox" class="pull-right" checked>
            </label>
          </div>
       /.form-group 

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Turn off notifications
              <input type="checkbox" class="pull-right">
            </label>
          </div>
         /.form-group 

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Delete chat history
              <a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
            </label>
          </div>
           /.form-group 
        </form>
      </div>
     /.tab-pane 
    </div>
  </aside>-->
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->
</div>
<app-bottom></app-bottom>
