<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop:true  }"></ngx-loading>
<div class="container-fluid no-padding no-margin" style="overflow:hidden;">
    <div class="row">
        <div class="col-xs-1 col-sm-3 col-md-4"></div>
        <div class="col-xs-10 col-sm-6 col-md-4 forma">           
            <div class="titulo-forma">
                <span class="h4">Iniciar Sesión</span>                
            </div>
            <form novalidate (ngSubmit)="onSubmit(loginForm)" [formGroup]="loginForm">
                <div class="form-group">
                    <label for="email">E-mail (*)</label>
                    <input type="text" formControlName="email" id="email" class="form-control" name="email" ng-maxlength="40" required>
                    <div class="col-sm-12 text-left">
                        <span class="help-block text-danger" *ngIf="loginForm.get('email').touched && loginForm.get('email').hasError('required')">Debes rellenar este espacio.</span>
                        <span class="help-block text-danger" *ngIf="loginForm.get('email').touched && loginForm.get('email').hasError('invalidEmail')">Email inválido. Sugerencia: usuario@dominio.com</span>
                        <span class="help-block text-danger" *ngIf="loginForm.get('email').touched && loginForm.get('email').hasError('maxlength')">Este espacio admite máximo 40 caracteres.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Contraseña (*)</label>
                    <input type="password" formControlName="password" id="password" class="form-control" name="password" autocomplete="off" ng-maxlength="16" ng-minlength="6" required>
                    <div class="col-sm-12 text-left">
                        <span class="help-block text-danger" *ngIf="loginForm.get('password').touched && loginForm.get('password').hasError('required')">Debes rellenar este espacio.</span>
                        <span class="help-block text-danger" *ngIf="loginForm.get('password').touched && loginForm.get('password').hasError('minlength')">Este espacio admite mínimo 6 caracteres.</span>
                        <span class="help-block text-danger" *ngIf="loginForm.get('password').touched && loginForm.get('password').hasError('maxLength')">Este espacio admite máximo 16 caracteres.</span>
                    </div>
                </div><!-- End class form-group password-->      
                <div class="form-group">              
                    <span style="color:red;">(*) Obligatorio.</span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary boton-enviar" [disabled]="!loginForm.valid">Entrar</button>
                    <button style="margin-right: 5px" type="submit" class="btn btn-danger boton-enviar">
                            <a style="color:white;" [routerLink]="['/site']"> Volver</a></button> 
                </div>
            </form>
            <div class="col-xs-12" style="height: 2em"></div>
            <div class="col-xs-12">¡Gracias por pertenecer a la familia TNO Radio!
                <a  [routerLink]="['/usuario/registro']"> Regístrate.</a>
            </div>            
        </div>
        <div class="col-xs-1 col-sm-3 col-md-4"></div>
    </div>
</div>
<app-bottom></app-bottom>