.form-group {
    padding-left: 20px;
    padding-right: 20px;
}

.container-fluid .forma {
    margin-top:10vh; 
   
}

.container-fluid {
    background-image: url(../../assets/images/fondos/audifonos_home_tnoradio.jpg);
    background-size: cover;
    background-position: center;
    height:93.7vh;
    background-repeat: no-repeat;
    overflow-y: hidden;
}

@media only screen and (max-width: 768px)  { 
    .container-fluid {
        background-image: url(../../assets/images/fondos/audifonos_home_tnoradio_responsive.jpg);
        background-size: cover;
        height:92.5vh;
        overscroll-behavior-y: hidden;
    }
}

@media only screen and (max-width: 544px)  { 
    .container-fluid {
        height:93vh;
    }
}