
<div class="container-fluid h-100" id="publicidad-container">
  <div class="row-fluid h-100 justify-content-center align-items-center">
    <div class="col-12">
        <a class="" href="https://www.mulco.com" target="_blank">
        <div class="publicidad-top"></div>
      </a>        
    </div>   
  </div>
</div>