#publicidad-container {
    height: 70px;
    padding: 5px;
    background: linear-gradient(to right, #1382b2 , #303461);    
}

.publicidad-top{ 
    height: 55px;
    background-image: url(../../assets/images/banners/publicidad/radio_online_venezuela_fondo_mulco_kripton18.jpg);  
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: center;
}