<div class="no-margin no-padding">
    <div  class="col-12 publicidad no-margin no-padding"> 
        <app-side-publicidad></app-side-publicidad>             
                  
    </div>  <!--col-->
    <div  class="col-12 redes no-padding">
       <app-redes></app-redes>
    </div>  <!--col redes-->
</div><!--col-->