.publicidad {
    height: 220px;
    width: 100%;
    background-color: white;
    
}

.img-publi {
    background-image:url("../../assets/images/publicidad/posadaamadamia.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 220px;
}

.redes {
    height: 110px;
    margin-top: 0px;
    width: 100%;
}

@media only screen and (min-width:1600px) and (max-width: 1899px) {  
    
}

@media only screen and (min-width: 1600px)  {   
    .publicidad {
        height: 360px;
        width: 100%;
        background-color: transparent;
        
    }
    
    .img-publi {
      /*  background-image:url("../../assets/images/publicidad/posadaamadamia.jpg");
        background-size: cover;
        background-repeat: no-repeat;*/
        height: 360px;
    }
    
    .redes {
        height: 270px;
        margin-top: 0px;
        width: 100%;
    }
    

}

@media only screen and (min-width: 768px) and (max-width:1023px) {  
    .redes {
        height: 240px;
    }

    .img-publi {
        height: 220px;
        background-image: url("../../assets/images/publicidad/posadaamadamia_responsive.jpg");
        background-size: cover;
        background-position: center;
        overflow-x: hidden !important;
    }
}

@media only screen and (min-width: 545px) and (max-width: 767px)  {   
    .redes {
        height:440px;
    }

    .img-publi {
        background-image: url("../../assets/images/publicidad/posadaamadamia_responsive.jpg");
        height:280px;
        background-size: cover;
        background-position: center;
    }

    .publicidad {
        height:280px;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1200px)  {
    
    .img-publi {
        background-position-x: center;
    }
}   

@media only screen and (max-width: 1023px)  {  
    .img-publi {
        background-image: url("../../assets/images/publicidad/posadaamadamia_responsive.jpg");
        background-size: cover;
        background-position: center;
        overflow: hidden !important;
        margin-top: 0px;
    }

    .redes {
        margin-top: 0px;
        overflow-x: hidden !important;
    }
    
}

@media only screen and (max-width: 544px)  { 
    .img-publi {
        height: 220px;
        
      }
  
      .redes {
        height: 338px;
      }
}