<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop:true  }"></ngx-loading>
<div class="container-fluid no-padding no-margin" style="overflow:hidden;">
    <div class="row">
        <div class="col-xs-1 col-md-2"></div>
        <div class="col-xs-10 col-md-8 forma">           
            <div class="titulo-forma"></div>
            <form  novalidate (ngSubmit)="onSubmit(form_agregar_solicitud)" [formGroup]="form_agregar_solicitud">
                <div class="form-group col-xs-12 no-padding">     
                  <!--<label class="col text-left" for="demo">Habilitado </label>-->
                    <div class="checkbox">
                        <label for="demo" class="col-xs-12">Tiene Demo.  (*) &nbsp; &nbsp; &nbsp; &nbsp;
                        <input 
                            type="checkbox" 
                            formArrayName="demo" 
                            class=""
                            (change)="changeDemo()">                             
                        </label>
                    </div>
                </div><!-- end demo --> 
                <div class="form-group col-xs-12">
                    <label for="demo_link">Link Demo. Si lo tiene.</label>
                    <input type="text" formControlName="demo_link" id="demo_link" class="form-control" name="demo_link" ng-maxlength="60">
                    <div class="col-sm-12 text-left">                        
                        <span class="help-block text-danger col-xs-12 " *ngIf="form_agregar_solicitud.get('demo_link').touched && form_agregar_solicitud.get('demo_link').hasError('maxlength')">This field requires less than 60 chars.</span>
                    </div>
                </div>
                <div class="form-group col-xs-12">
                  <div class="input-group">
                    <span class="input-group-addon"><label for="corte">
                        Corte Programa&nbsp;
                        <i class="fa fa-refresh blue-text cursor-pointer" title="Refrescar" (click)="loadCortes()"></i>
                    </label></span>
                    <select class="form-control" 
                            formControlName="corte" 
                            name="corte" 
                            list="cortes" 
                            autocomplete="off" 
                            id="corte" required>
                        <option value="" [selected]="">Seleccione</option>
                        <option *ngFor="let item of cortes" value="{{item.corte}}">{{item.corte}}</option>
                    </select>
                  </div>
                  <div class="col-sm-12 text-left">
                      <span class="help-block text-danger col-xs-12 " *ngIf="form_agregar_solicitud.get('corte').touched && (form_agregar_solicitud.get('corte').hasError('required') || form_agregar_solicitud.get('corte').hasError('invalid'))">Debes rellenar este campo.</span>                            
                  </div>
                </div><!-- End class form-group col-xs-12 corte-->      
                <div class="form-group col-xs-12">
                    <label for="seg_objetivo">Segmento Objetivo. A, B, C. D ó E. (*)</label>
                    <textarea type="textarea" formControlName="seg_objetivo" id="seg_objetivo" class="form-control" name="seg_objetivo" autocomplete="off" ng-maxlength="500" required></textarea>
                    <div class="col-sm-12 text-left">
                        <span class="help-block text-danger col-xs-12 " *ngIf="form_agregar_solicitud.get('seg_objetivo').touched && (form_agregar_solicitud.get('seg_objetivo').hasError('required') || form_agregar_solicitud.get('seg_objetivo').hasError('invalid'))">Debes rellenar este campo.</span>
                        <span class="help-block text-danger col-xs-12 " *ngIf="form_agregar_solicitud.get('seg_objetivo').touched && form_agregar_solicitud.get('seg_objetivo').hasError('maxlength')">This field requires less than 60 chars.</span>
                    </div>
                </div>
                <div class="form-group col-xs-12 no-padding" style="margin-bottom:10px;">     
                  <label class="col-xs-12 text-left" for="dias">Día(s) en los que desea transmitir(*) </label>
                  <div class="checkbox">
                      <label *ngFor="let dia of dias" class="col-xs-3">{{dia}}  &nbsp; &nbsp;  &nbsp;  &nbsp;
                        <input 
                            type="checkbox"  
                            formArrayName="dias" 
                            class=""
                            (change)="onCheckDias(dia, $event.target.checked)">                             
                      </label>
                  </div>
                 </div>
                  <div class="form-group col-xs-12 no-padding">     
                    <!--<label class="col text-left" for="experiencia_medios">Habilitado </label>-->
                    <div class="checkbox">
                        <label for="experiencia_medios" class="col-xs-12">Tiene experiencia en medios trasicionales.  (*) &nbsp; &nbsp; &nbsp; &nbsp;
                        <input 
                            type="checkbox" 
                            formArrayName="experiencia_medios" 
                            class=""
                            (change)="onCheckMediosTrad($event.target.checked)">                             
                        </label>
                    </div>
                  </div><!-- end experiencia_medios --> 
                  <div class="form-group col-xs-12 no-padding">  
                  <!--<label class="col text-left" for="experiencia_medios">Habilitado </label>-->
                    <div class="checkbox">
                        <label for="experiencia_medios_online" class="col-xs-12">Tiene experiencia en medios online.  (*) &nbsp; &nbsp; &nbsp; &nbsp;
                        <input 
                            type="checkbox" 
                            formArrayName="experiencia_medios_online" 
                            class=""
                            (change)="onCheckMediosOnline($event.target.checked)">                             
                        </label>
                    </div>
                </div><!-- end experiencia_medios_online -->
                <div class="form-group col-xs-12 no-padding">   
                  <div class="checkbox">
                      <label for="vinculo_otros_medios" class="col-xs-12">Tiene vínculo con otros medios.  (*) &nbsp; &nbsp; &nbsp; &nbsp;
                      <input 
                          type="checkbox" 
                          formArrayName="vinculo_otros_medios" 
                          class=""
                          (change)="onCheckVinculo($event.target.checked)">                             
                      </label>
                  </div>
                </div><!-- end vinculo_otros_medios -->                
                <div class="form-group col-xs-12">
                    <label for="tipo_experiencia">Tipo de Experiencia en medios. Coloque N/A si no aplica. (*)</label>
                    <textarea type="textarea" formControlName="tipo_experiencia" id="tipo_experiencia" class="form-control" name="tipo_experiencia" autocomplete="off" ng-maxlength="500" required></textarea>
                    <div class="col-sm-12 text-left">
                        <span class="help-block text-danger col-xs-12 " *ngIf="form_agregar_solicitud.get('tipo_experiencia').touched && (form_agregar_solicitud.get('tipo_experiencia').hasError('required') || form_agregar_solicitud.get('tipo_experiencia').hasError('invalid'))">Debes rellenar este campo.</span>
                        <span class="help-block text-danger col-xs-12 " *ngIf="form_agregar_solicitud.get('tipo_experiencia').touched && form_agregar_solicitud.get('tipo_experiencia').hasError('maxlength')">This field requires less than 60 chars.</span>
                    </div>
                </div>
               <!-- <div class="col-xs-12">
                    <label>Locutores </label>
                    <span class="help-block text-red">Sólo llene los espacios correspondientes según la cantidad de locutores que tenga el espacio.</span>
                </div>-->
                <div class="col-xs-12" style="padding:0px; margin:0px;">
                    <div class="form-group col-xs-12 col-md-6">
                        <label for="conductor_1">Conductor (*)</label>
                        <input type="text" formControlName="conductor_1" id="conductor_1" class="form-control" name="conductor_1" ng-maxlength="60" required>
                        <div class="col-xs-12 text-left">
                            <span class="help-block text-danger col-xs-12" *ngIf="form_agregar_solicitud.get('conductor_1').touched && (form_agregar_solicitud.get('conductor_1').hasError('required') || form_agregar_solicitud.get('conductor_1').hasError('invalid'))">Debes rellenar este campo.</span>                            
                            <span class="help-block text-danger col-xs-12" *ngIf="form_agregar_solicitud.get('conductor_1').touched && form_agregar_solicitud.get('conductor_1').hasError('maxlength')">This field requires less than 60 chars.</span>
                        </div>
                    </div>                   
                </div>              
                
                <div class="form-group col-xs-12 col-xs-12">              
                    <span style="color:red;">(*) Obligatorio.</span>
                </div> 
                <div class="form-group col-xs-4 col-sm-8"></div>
                <div class="form-group col-xs-4 col-sm-2">
                    <button type="submit" class="btn btn-primary boton-enviar" [disabled]="!form_agregar_solicitud.valid">Guardar</button>
                </div>
                <div class="form-group col-xs-4 col-sm-2">
                    <button class="btn btn-danger boton-enviar"
                        (click)="volver()">Cancelar</button>
                </div>
            </form>            
        </div>
        <div class="col-xs-1 col-md-2"></div>
    </div>
</div>