<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',  fullScreenBackdrop:true }"></ngx-loading>
<div class="container-fluid">
  <div class="row" *ngIf="pagos">
    <div class="col-md-1"></div>
    <div class="col-md-10"> 
      <div class="table-responsive"><!-- tabla con los datos de los pagos -->            
        <table class="table table-striped table-hover">
          <thead style="color:white">
            <tr>
              <th>Concepto</th>
              <th>Fecha Transacción</th>  
              <th>Monto</th>   
              <th>Estatus</th>                                                    
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let pago of pagos | paginate: { itemsPerPage: 20, currentPage: p }">
              <td class="info">{{pago.concepto}}</td>
              <td class="info">{{pago.fecha_transaccion}}</td>    
              <td class="info">{{pago.monto}}</td>      
              <td class="info">{{pago.status}}</td>                          
              <td class="info">                                    
                <button class="btn btn-info .btn-sm" 
                (click)="detallePago(pago.id)"><i class="fa fa-search-plus "></i></button>
                &nbsp;<button *ngIf="role_ == 'Administrador'" 
                        class="btn btn-primary .btn-sm" 
                        (click)="actualizarPago(pago.id)"><i class="fa fa-pencil "></i><a [routerLink]="[{outlets: {homesesion: ['actualizarst']}}]"></a></button>
                &nbsp;<button *ngIf="role_ == 'Administrador'"
                        data-toggle='modal' 
                        data-target="#confirm" 
                        (click)="setClient(pago.id)" 
                        class="btn btn-danger .btn-sm"><i class="fa fa-trash "></i>
                </button>
              </td>
            </tr>
          </tbody>               
        </table>   
        <pagination-controls (pageChange)="p = $event" style="float:right"></pagination-controls>        
        <div id="confirm" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                  <h6>Eliminar Pago</h6>
              </div>
              <div class="modal-body">
                  ¿Realmente desea eliminar este pago?
              </div>
              <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn">NO</button>
                <button (click)="delete(clientid)" type="button" data-dismiss="modal" class="btn btn-danger">
                    <i class="fa fa-trash"></i>&nbsp;
                    SÍ
                </button>
              </div>
            </div>
          </div> <!-- end modal dialog -->
        </div><!-- end modal -->
      </div><!-- end data-table-->
     </div><!-- end col 10-->
    <div class="col-md-1"></div>
  </div><!-- end row pagos-->
</div>

