<app-publi-header></app-publi-header>
<app-top-header></app-top-header>
<div class="container-fluid no-padding no-margin" style="overflow:hidden;">
    <div class="row no-padding no-margin">
        <div class="col-md-1 hidden-sm-down side-bar" [style]="getSideBarStyle()">
            <app-side-bar></app-side-bar>
        </div>
        <div class="col-md-11 col-sm-12 no-padding" [style]="getCol11Style()">
            <router-outlet name="site"></router-outlet>
           
            <div class="row no-padding no-margin">
                <app-footer></app-footer>                
            </div>            
        </div>         
    </div>
</div>