.col-md-11 {
    margin-left:-4.5%;
    /*transition: all 0.3s;*/
}

.page-container {
    width: 105%;
}

.banners {
    width: 100%;
}

@media only screen and (min-width: 1600px)  {  
    .col-md-11 {
        margin-left:-5.3%;
       /* transition: all 0.3s;*/
    }

    .page-container {
        width: 108%;
    }

}

@media only screen and (min-width: 1024px) and (max-width: 1200px)  {   
   .page-container {
        width: 104%;
    
    }

    .col-md-11 {
        margin-left:-3.5%;
       /* transition: all 0.3s;*/
    }
}


@media only screen and (max-width: 544px)  {    

}

@media only screen and (max-width: 1023px)  {  
    .side-bar {
        display:none;
    }

    .col-md-11{
        margin-left: 0px;
    }

    .page-container {
        width: 100%;
    }
}

@media only screen and (min-width: 991px) and (max-width: 1023px)  {   
     .col-md-11 {
         margin-left:0;
         width: 101%;
        /* transition: all 0.3s;*/
     }
 }
 


@media only screen and (min-width: 545px) and (max-width: 767px)  {   

}