@import '~ngx-toastr/toastr.css';

.no-padding {
    padding:0px;
}

.no-margin {
    margin:0px;
}

.forma {
    background-color: white; 
    margin-top:5vh;
    margin-bottom:5vh;
    padding-bottom:2vh;
}

.titulo-forma {
    padding-top:2vh; 
    padding-bottom:  20px;
    font-weight: 500;
}

.boton-enviar {
    float:right;
}

.text-danger {
    color:red;
    margin:0;
    padding:0;
}

a:hover {
    text-decoration:none;
    cursor: pointer;
}