<div class=" no-margin no-padding" style=" margin-left: 2.7%;">
    <div class="row no-margin no-padding">        
        <div class="col-xs-12 col-sm-6 twitter text-center no-margin">
            <a href="https://www.twitter.com/tnoradio" target="_blank" class="fa fa-twitter"></a>
            <span><h4>Síguenos con el hashtag</h4></span>
            <span class="pagina"><a href="https://twitter.com/hashtag/laprimeraradioonlinedevenezuela?src=hash" target="_blank"> #TNORADIO </a></span>
        </div>
        <div class="col-xs-12 col-sm-6 facebook text-center no-margin">
            <a href="https://www.facebook.com/tnoradio" target="_blank" class="fa fa-facebook"></a>
            <span><h4>Búscanos en Facebook</h4></span>
            <span class="pagina"><a href="https://www.facebook.com/TNOradio/" target="_blank"> TNO RADIO </a></span>
        </div>
    </div>
</div>