<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',  fullScreenBackdrop:true }"></ngx-loading>
<div class="container-fluid no-padding no-margin" style="overflow:hidden;">
  <div class="row">
    <div class="col-xs-1 col-sm-2 col-md-3"></div>
    <div class="col-xs-10 col-sm-8 col-md-6 forma">           
      <div class="titulo-forma"></div>  
      <div *ngIf="solicitud" class="form-group">
          <div class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <label>Empresa Productora del Evento</label>
              </div>
              <h6>{{solicitud.nombre_productora}}</h6>
          </div>
          <div class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <label>Persona Responsable del Evento</label>
              </div>
              <h6>{{solicitud.nombre_responsable}}</h6>
          </div>
        <div class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <label>Fecha</label>
          </div>
          <h6>{{solicitud.fecha}}</h6>
        </div>
        <div class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <label>Lugar</label>
          </div>
          <h6>{{solicitud.lugar}}</h6>
        </div>          
        <div class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <label>Tipo</label>
          </div>
          <h6>{{solicitud.tipo_evento}}</h6>
        </div>
        <div class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <label>Objetivos del Evento</label>
          </div>
          <h6>{{solicitud.objetivos_evento}}</h6>
        </div>
        <div class="flex-column">
          <a class="col-xs-6" (click)="volver()">Volver</a>
          <a *ngIf="role=='Administrador'" class="col-xs-6 text-right" (click)="update(solicitud.id)">Modificar</a>
        </div>
      </div><!--end list-group-->
    </div><!--end col-10-->
    <div class="col-xs-1 col-sm-2 col-md-3"></div>
  </div><!--end row-->
</div><!--end container-fluid-->
