.gallery {
    width: 100%;
    margin-top: -7px;
}

@media only screen and (min-width: 1600px)  {   
    .gallery {
        margin-top: 0px;
        width: 105%;
    }

}


@media only screen and (min-width: 981px) and (max-width: 1023px)  {   
    .gallery {
        margin-top: -105px;
        width: 105%;
    }

}

/*@media only screen and (min-width: 991px) and (max-width: 970px)  {   
    .gallery {
       width: 102%;
    }

}
*/
@media only screen and (min-width: 768px) and (max-width: 980px)  {   
    .gallery {
       width: 110%;
       margin-top: -102px;
    }

}

@media only screen and (min-width: 545px) and (max-width: 767px)  {   
    .gallery {
        height: 0px;
        margin-top: -125px;
    }

}