.carousel{
    height:220px;
  }
  .item img{
    object-fit:cover;
    height:220px !important;
    width: 100% !important;
  }
.slide2{
    /*visibility: hidden;*/
    width: 0px;
    height: 0px;
}

@media only screen and (min-width:1900px)  {  
  .carousel{
    height:360px;
  }
  .item img{
    object-fit:cover;
    height:360px !important;
    width: 100% !important;
  }
}

@media only screen and (min-width:1600px) and (max-width: 1899px) {  
  .carousel{
    height:360px;
  }
  .item img{
    object-fit:cover;
    height:360px !important;
    width: 100% !important;
  }
}

@media only screen and (min-width:415px) and (max-width:767px)  { 
    .slide1{
        visibility: visible;
        width: 100%;
        height:280px;
    } 
    .slide2{
         /*visibility: hidden;*/
        width: 0px;
        height: 0px;
    }
    .item img{
        object-fit:cover;
        height:280px !important;
        width: 100% !important;
      }
    .carousel{
        height:280px;
    }
}

@media only screen and (max-width:414px)  {  
    .slide1{
        visibility: hidden;
        width: 0px;
        height: 0px;
    }
    .slide2{
        visibility: visible;
        width: 100%;
        height: 220px;
    }
}