<div id="myCarousel" class="carousel slide slide1" data-ride="carousel">
    <!-- Indicators 
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>-->
  
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <a href="https://www.protecnonetworks.com" target="blank"> 
        <img src="../../assets/images/publicidad/protecno.jpg" alt="Protecno">
        </a>
      </div>
  
      <div class="item">
        <a href="https://www.facebook.com/posadaamadamia" target="blank"> 
        <img src="../../assets/images/publicidad/posadaamadamia.jpg" alt="Posada Amada Mía">
        </a>
      </div>
  
    </div>
  
  </div>

  <div id="myCarousel" class="carousel slide slide2" data-ride="carousel">
 
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="../../assets/images/publicidad/protecnoresponsive.jpg" alt="Protecno">
      </div>
  
      <div class="item">
        <img src="../../assets/images/publicidad/posadaamadamia_responsive.jpg" alt="Posada Amada Mía">
      </div>
  
    </div>
  </div>