<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',  fullScreenBackdrop:true }"></ngx-loading>
<div class="container-fluid no-padding no-margin" style="overflow:hidden;">
  <div class="row">
    <div class="col-xs-1 col-sm-2 col-md-3"></div>
    <div class="col-xs-10 col-sm-8 col-md-6 forma">           
      <div class="titulo-forma"></div>  
      <div *ngIf="solicitud" class="form-group">
          <div class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <label>Nombre del Entrevistado</label>
              </div>
              <h6>{{solicitud.nombre_entrevistado}}</h6>
          </div>
          <div class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <label>Tema que Desea Tratar en la Entrevista</label>
              </div>
              <h6>{{solicitud.tema_entrevista}}</h6>
          </div>
        <div class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <label>Conoce TNO Radio</label>
          </div>
          <h6>{{solicitud.conoce_tno}}</h6>
        </div>
        <div class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <label>Fecha Última Entrevista</label>
          </div>
          <h6>{{solicitud.ultima_entrevista}}</h6>
        </div>          
        <div class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <label>Desea ir a Un Programa Específico</label>
          </div>
          <h6>{{solicitud.programa_especifico}}</h6>
        </div>
        <div class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <label>Facebook Entrevistado</label>
          </div>
          <h6>{{solicitud.facebook}}</h6>
        </div>
        <div class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <label>Twitter Entrevistado</label>
            </div>
            <h6>{{solicitud.twitter}}</h6>
        </div>
        <div class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <label>Ins tagra,Entrevistado</label>
            </div>
            <h6>{{solicitud.instagram}}</h6>
        </div>
        <div class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <label>Snapchat Entrevistado</label>
            </div>
            <h6>{{solicitud.snapchat}}</h6>
        </div>
        <div class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <label>Comentarios</label>
            </div>
            <h6>{{solicitud.comentarios}}</h6>
        </div>
        <div class="flex-column">
          <a class="col-xs-6" (click)="volver()">Volver</a>
          <a *ngIf="role=='Administrador'" class="col-xs-6 text-right" (click)="update(solicitud.id)">Modificar</a>
        </div>
      </div><!--end list-group-->
    </div><!--end col-10-->
    <div class="col-xs-1 col-sm-2 col-md-3"></div>
  </div><!--end row-->
</div><!--end container-fluid-->
