<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop:true  }"></ngx-loading>
<div class="container-fluid no-padding no-margin" style="overflow:hidden;">
    <div class="row">
        <div class="col-xs-1 col-md-2"></div>
        <div class="col-xs-10 col-md-8 forma">           
            <div class="titulo-forma"></div>
            <form  novalidate (ngSubmit)="onSubmit(form_agregar_solicitud)" [formGroup]="form_agregar_solicitud">
                <div class="form-group col-xs-12">
                    <label for="nombre_productora">Nombre de la Empresa que Produce (*)</label>
                    <input type="text" formControlName="nombre_productora" id="nombre_productora" class="form-control" name="nombre_productora" ng-maxlength="60" required>
                    <div class="col-sm-12 text-left">
                        <span class="help-block text-danger col-xs-12 " *ngIf="form_agregar_solicitud.get('nombre_productora').touched && (form_agregar_solicitud.get('nombre_productora').hasError('required') || form_agregar_solicitud.get('nombre_productora').hasError('invalid'))">Debes rellenar este campo.</span>                            
                        <span class="help-block text-danger col-xs-12 " *ngIf="form_agregar_solicitud.get('nombre_productora').touched && form_agregar_solicitud.get('nombre_productora').hasError('maxlength')">This field requires less than 60 chars.</span>
                    </div>
                </div>
                <div class="form-group col-xs-12">
                    <label for="nombre_responsable">Nombre de la Persona Responsable (*)</label>
                    <input type="text" formControlName="nombre_responsable" id="nombre_responsable" class="form-control" name="nombre_responsable" ng-maxlength="60" required>
                    <div class="col-sm-12 text-left">
                        <span class="help-block text-danger col-xs-12 " *ngIf="form_agregar_solicitud.get('nombre_responsable').touched && (form_agregar_solicitud.get('nombre_responsable').hasError('required') || form_agregar_solicitud.get('nombre_responsable').hasError('invalid'))">Debes rellenar este campo.</span>                            
                        <span class="help-block text-danger col-xs-12 " *ngIf="form_agregar_solicitud.get('nombre_responsable').touched && form_agregar_solicitud.get('nombre_responsable').hasError('maxlength')">This field requires less than 60 chars.</span>
                    </div>
                </div>
                <div class="form-group col-xs-12">
                    <label for="tipo_evento">Tipo de Evento (*)</label>
                    <input type="text" formControlName="tipo_evento" id="tipo_evento" class="form-control" name="tipo_evento" ng-maxlength="60" required>
                    <div class="col-sm-12 text-left">
                        <span class="help-block text-danger col-xs-12 " *ngIf="form_agregar_solicitud.get('tipo_evento').touched && (form_agregar_solicitud.get('tipo_evento').hasError('required') || form_agregar_solicitud.get('tipo_evento').hasError('invalid'))">Debes rellenar este campo.</span>                            
                        <span class="help-block text-danger col-xs-12 " *ngIf="form_agregar_solicitud.get('tipo_evento').touched && form_agregar_solicitud.get('tipo_evento').hasError('maxlength')">This field requires less than 60 chars.</span>
                    </div>
                </div>
     
                <div class="form-group col-xs-12">
                    <label for="objetivos_evento">Objetivos del Evento (*)</label>
                    <textarea type="textarea" formControlName="objetivos_evento" id="objetivos_evento" class="form-control" name="objetivos_evento" autocomplete="off" ng-maxlength="500" required></textarea>
                    <div class="col-sm-12 text-left">
                        <span class="help-block text-danger col-xs-12 " *ngIf="form_agregar_solicitud.get('objetivos_evento').touched && (form_agregar_solicitud.get('objetivos_evento').hasError('required') || form_agregar_solicitud.get('objetivos_evento').hasError('invalid'))">Debes rellenar este campo.</span>
                        <span class="help-block text-danger col-xs-12 " *ngIf="form_agregar_solicitud.get('objetivos_evento').touched && form_agregar_solicitud.get('objetivos_evento').hasError('maxlength')">This field requires less than 500 chars.</span>
                    </div>
                </div>
                
                <div class="form-group col-xs-6">
                    <label for="lugar">Lugar (*)</label>
                    <input type="text" formControlName="lugar" id="lugar" class="form-control" name="lugar" ng-maxlength="60" required>
                    <div class="col-sm-12 text-left">
                        <span class="help-block text-danger col-xs-12 " *ngIf="form_agregar_solicitud.get('lugar').touched && (form_agregar_solicitud.get('lugar').hasError('required') || form_agregar_solicitud.get('lugar').hasError('invalid'))">Debes rellenar este campo.</span>                            
                        <span class="help-block text-danger col-xs-12 " *ngIf="form_agregar_solicitud.get('lugar').touched && form_agregar_solicitud.get('lugar').hasError('maxlength')">This field requires less than 60 chars.</span>
                    </div>
                </div>

                <div class="col-xs-6"  style="padding:0px; margin:0px;">
                    <div class="form-group col-sm-5">
                        <label for="fecha">Fecha (*) </label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="date" class="form-control" formControlName="fecha" placeholder="AAAA-MM-DD"
                            date-format="YYYY-MM-DD" date-only=true name="fecha" required>
                        </div>
                        <div class="col-xs-12 text-left">
                            <span class="help-block text-danger col-xs-12 " *ngIf="form_agregar_solicitud.get('fecha').touched && (form_agregar_solicitud.get('fecha').hasError('required') || form_agregar_solicitud.get('fecha').hasError('invalid'))">Debes rellenar este campo.</span>
                            <span class="help-block text-danger col-xs-12 " *ngIf="form_agregar_solicitud.get('fecha').touched && form_agregar_solicitud.get('fecha').hasError('invalidFutureDate')">Future date.</span>
                            <span class="help-block text-danger col-xs-12 " *ngIf="form_agregar_solicitud.get('fecha').touched && form_agregar_solicitud.get('fecha').hasError('invalidDateDayRange')">Invalid Day.</span>
                            <span class="help-block text-danger col-xs-12 " *ngIf="form_agregar_solicitud.get('fecha').touched && form_agregar_solicitud.get('fecha').hasError('invalidDateYearRange')">Invalid Year.</span>
                            <span class="help-block text-danger col-xs-12 " *ngIf="form_agregar_solicitud.get('fecha').touched && form_agregar_solicitud.get('fecha').hasError('invalidDateFormat')">Invalid date format. Must be AAAA-MM-DD</span>
                        </div>
                    </div>    
                </div>
                
                <div class="form-group col-xs-12 col-xs-12">              
                    <span style="color:red;">(*) Obligatorio.</span>
                </div> 
                <div class="form-group col-xs-4 col-sm-6"></div>
                <div class="form-group col-xs-4 col-sm-3">
                    <button type="submit" class="btn btn-primary boton-enviar" [disabled]="!form_agregar_solicitud.valid">Guardar</button>
                </div>
                <div class="form-group col-xs-4 col-sm-3">
                    <button class="btn btn-danger boton-enviar"
                        (click)="volver()">Cancelar</button>
                </div>
            </form>            
        </div>
        <div class="col-xs-1 col-md-2"></div>
    </div>
</div>