<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop:true  }"></ngx-loading>
<div class="container-fluid no-padding no-margin" style="overflow:hidden;">
    <div class="row">
        <div class="col-xs-1 col-md-2"></div>
        <div class="col-xs-10 col-md-8 forma">           
            <div class="titulo-forma"></div>
            <form  novalidate (ngSubmit)="onSubmit(form_agregar_solicitud)" [formGroup]="form_agregar_solicitud">
                <div class="form-group col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon"><label for="programa_id">
                            Programa&nbsp;
                            <i class="fa fa-refresh blue-text cursor-pointer" title="Refrescar" (click)="loadProgramas()"></i>
                        </label></span>
                        <select class="form-control" 
                                formControlName="programa_id" 
                                name="programa_id" 
                                list="programas" 
                                autocomplete="off" 
                                id="programa_id">
                            <option value="" [selected]="">Seleccione</option>
                            <option *ngFor="let item of programas" value="{{item.id}}">{{item.pro_nombre}}</option>
                        </select>
                    </div>
                </div><!-- End class form-group col-xs-12 programa-->      
                <div class="col-xs-12 no-padding no-margin">
                    <div class="form-group col-xs-6">
                        <label for="hora_inicio">Hora de Inicio (*)&nbsp;</label>  
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-clock-o"></i>
                            </div>
                            <input type="time" class="form-control timepicker" formControlName="hora_inicio" required>                                    
                        </div>
                        <!--<span *ngIf="form.hasError('dateLessThan')">Load date must be before delivery date</span>-->
                    </div><!--End class form-group -->
                    <div class="form-group col-xs-6">
                        <label for="hora_fin">Hora Fin (*)&nbsp;</label>  
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-clock-o"></i>
                            </div>
                            <input type="time" class="form-control timepicker" formControlName="hora_fin" required>                                    
                        </div>                                          
                    </div><!--End class form-group -->
                </div>
                <div class="form-group col-xs-6">
                    <label for="fecha">Fecha (*) </label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="date" class="form-control" formControlName="fecha" placeholder="AAAA-MM-DD"
                        date-format="YYYY-MM-DD" date-only=true name="fecha" required>
                    </div>
                    <div class="col-xs-12 text-left">
                        <span class="help-block text-danger col-xs-12 " *ngIf="form_agregar_solicitud.get('fecha').touched && (form_agregar_solicitud.get('fecha').hasError('required') || form_agregar_solicitud.get('fecha').hasError('invalid'))">Debes rellenar este campo.</span>
                        <span class="help-block text-danger col-xs-12 " *ngIf="form_agregar_solicitud.get('fecha').touched && form_agregar_solicitud.get('fecha').hasError('invalidDateDayRange')">Invalid Day.</span>
                        <span class="help-block text-danger col-xs-12 " *ngIf="form_agregar_solicitud.get('fecha').touched && form_agregar_solicitud.get('fecha').hasError('invalidDateYearRange')">Invalid Year.</span>
                        <span class="help-block text-danger col-xs-12 " *ngIf="form_agregar_solicitud.get('fecha').touched && form_agregar_solicitud.get('fecha').hasError('invalidDateFormat')">Invalid date format. Must be AAAA-MM-DD</span>
                    </div>
                </div>  
                <div *ngIf="role=='Administrador'" class="form-group col-xs-6">
                  <label for="status">Estatus</label>
                        <select class="form-control" 
                                formControlName="status" 
                                name="status" 
                                list="statusList" 
                                autocomplete="off" 
                                id="status">
                            <option value="" [selected]="Seleccione">Seleccione</option>
                            <option *ngFor="let item of statusList" value="{{item}}">{{item}}</option>
                        </select>
                    <div class="col-sm-12 text-left">
                        <span class="help-block text-danger col-xs-12 " *ngIf="form_agregar_solicitud.get('status').touched && (form_agregar_solicitud.get('status').hasError('required') || form_agregar_solicitud.get('status').hasError('invalid'))">Debes rellenar este campo.</span>                            
                    </div>
                </div><!-- End class form-group col-xs-12 status-->                 
                <div class="form-group col-xs-12 col-xs-12">              
                    <span style="color:red;">(*) Obligatorio.</span>
                </div> 
                <div class="form-group col-xs-4 col-sm-6"></div>
                <div class="form-group col-xs-4 col-sm-3">
                    <button type="submit" class="btn btn-primary boton-enviar" [disabled]="!form_agregar_solicitud.valid">Guardar</button>
                </div>
                <div class="form-group col-xs-4 col-sm-3">
                    <button class="btn btn-danger boton-enviar"
                        (click)="volver()">Cancelar</button>
                </div>
            </form>            
        </div>
        <div class="col-xs-1 col-md-2"></div>
    </div>
</div>