<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',  fullScreenBackdrop:true }"></ngx-loading>
<div class="container-fluid no-padding no-margin" style="overflow:hidden;">
    <div class="row">
        <div class="col-xs-1 col-sm-2 col-md-3"></div>
        <div class="col-xs-10 col-sm-8 col-md-6 forma">  
            <div class="titulo-forma"></div>           
            <form novalidate (ngSubmit)="onSubmit(form_solicitud_tarifas)" [formGroup]="form_solicitud_tarifas">
                <div class="form-group col-xs-12">
                    <label for="cliente">Cliente (*)</label>
                    <input type="text" 
                            formControlName="cliente" 
                            id="cliente" 
                            name="cliente" 
                            class="form-control" 
                            autocomplete="off" 
                            ng-maxlength="60" >
                </div><!-- End class form-group col-xs-12 cliente-->  
                <div class="form-group col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon"><label for="status">
                           Estatus&nbsp;                            
                        </label></span>
                        <select class="form-control" 
                                formControlName="status" 
                                name="status" 
                                list="cortes" 
                                autocomplete="off" 
                                id="status" required>
                            <option value="" [selected]="">Seleccione</option>
                            <option *ngFor="let item of status" value="{{item}}">{{item}}</option>
                        </select>
                    </div>
                    <div class="col-sm-12 text-left">
                        <span class="help-block text-danger col-xs-12 " *ngIf="form_solicitud_tarifas.get('status').touched && (form_solicitud_tarifas.get('status').hasError('required') || form_solicitud_tarifas.get('status').hasError('invalid'))">Debes rellenar este campo.</span>                            
                    </div>
                </div><!-- End class form-group col-xs-12 status-->                         
                <div class="form-group col-xs-12 col-xs-12">              
                    <span style="color:red;">(*) Obligatorio.</span>
                </div> 
                <div class="form-group col-xs-4 col-sm-6"></div>
                <div class="form-group col-xs-4 col-sm-3">
                    <button type="submit" class="btn btn-primary boton-enviar" [disabled]="!form_solicitud_tarifas.valid">Guardar</button>
                </div>
                <div class="form-group col-xs-4 col-sm-3">
                    <button class="btn btn-danger boton-enviar">
                        <a style="color:white" (click)="volver()"> Cancelar</a></button>
                </div>                
            </form>            
        </div>
        <div class="col-xs-1 col-sm-2 col-md-3"></div>
    </div>
</div>
