<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop:true  }"></ngx-loading>
<div class="container-fluid no-padding no-margin" style="overflow:hidden;">
  <div class="row">
    <div class="col-xs-1 col-sm-2 col-md-3"></div>
    <div class="col-xs-10 col-sm-8 col-md-6 forma">           
      <div class="titulo-forma"></div>  
      <div  *ngIf="user" class="list-group">
        <div class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <label>Nombre</label>
          </div>
          <h6>{{user.name}}</h6>
        </div>
        <div class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <label>Apellido</label>
          </div>
          <h6>{{user.lastname}}</h6>
        </div>
        <div class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <label>Identificación</label>
          </div>
          <h6>{{user.us_id}}</h6>
        </div>
        <div class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <label>Biografía</label>
          </div>
          <h6>{{user.bio}}</h6>
        </div>
        <div class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <label>Fecha de Nacimiento</label>
            </div>
            <h6>{{user.birthdate}}</h6>
          </div>
        <div class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <label>E-mail</label>
          </div>
          <h6>{{user.email}}</h6>
        </div>
        <div class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <label>Phone</label>
          </div>
          <h6>{{user.telephone}}</h6>
        </div>
        <div class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <label>Rol</label>
            </div>
            <h6>{{user.role}}</h6>
        </div>
        <div class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <label>Instagram</label>
            </div>
            <h6>{{user.instagram}}</h6>
        </div>
        <div class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <label>Twitter</label>
            </div>
            <h6>{{user.twitter}}</h6>
        </div>
        <div class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <label>Facebook</label>
            </div>
            <h6>{{user.facebook}}</h6>
        </div>
        <div *ngIf="user.role=='Productor' || user.role=='Locutor' || user.role=='Asistente de Producción'"
            class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <label>Certificado de Locución</label>
            </div>
            <h6>{{user.c_locucion}}</h6>
        </div>
        <div *ngIf="user.role=='Productor' || user.role=='Locutor' || user.role=='Asistente de Producción'" 
              class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <label>Certificado de PNI</label>
          </div>
          <h6>{{user.pni}}</h6>
        </div>
        <div *ngIf="user.role=='Productor' || user.role=='Locutor' || user.role=='Asistente de Producción'"
            class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <label>Programa</label>
          </div>
          <h6>{{user.programa}}</h6>
        </div>              
        <div class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <label>Habilitado</label>
          </div>
          <h6 *ngIf="user.enabled==true">Sí</h6>
          <h6 *ngIf="user.enabled==false">No</h6>
        </div>
        <div class="list-group-item list-group-item-action flex-column">
          <a class="col-xs-6" (click)="volver()">Volver</a>
          <a *ngIf="role=='Administrador'" class="col-xs-6 text-right" (click)="update(user.id)">Modificar</a>
        </div>
      </div><!--end list-group-->
    </div><!--end col-10-->
    <div class="col-xs-1 col-sm-2 col-md-3"></div>
  </div><!--end row-->
</div><!--end container-fluid-->
<app-bottom></app-bottom>
