.container-fluid {
    padding-top:7vh;
    background-image: url(../../assets/images/fondos/fondo-perfil.jpg);
    background-size: cover;
    background-position: center;    
    background-repeat: no-repeat;
    min-height: 150vh;
}

@media only screen and (max-width: 768px)  { 
    .container-fluid {
        background-image: url(../../assets/images/fondos/fondo-perfi-responsivel.jpg);
        background-size: cover;
        min-height:85vh;
    }
}

@media only screen and (max-width: 544px)  { 
    .container-fluid {
        min-height:82vh;
    }
}