<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',  fullScreenBackdrop:true }"></ngx-loading>
<div class="container-fluid no-padding no-margin" style="overflow:hidden;">
  <div class="row">
    <div class="col-xs-1 col-sm-2 col-md-3"></div>
    <div class="col-xs-10 col-sm-8 col-md-6 forma">           
      <div class="titulo-forma"></div>  
      <div *ngIf="pago" class="form-group">
        <div class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <label>Número de Referencia</label>
          </div>
          <h6>{{pago.referencia}}</h6>
        </div>
        <div class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <label>Fecha</label>
          </div>
          <h6>{{pago.fecha_transaccion}}</h6>
        </div>          
        <div class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <label>Banco Emisor</label>
          </div>
          <h6>{{pago.banco_origen}}</h6>
        </div>
        <div class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <label>Banco Receptor</label>
          </div>
          <h6>{{pago.banco_destino}}</h6>
        </div>
        <div class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <label>Monto</label>
          </div>
          <h6>{{pago.monto}}</h6>
        </div>
        <div class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <label>Hora Transacción</label>
          </div>
          <h6>{{pago.hora_transaccion}}</h6>
        </div>
        <div class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <label>Estatus</label>
          </div>
          <h6>{{pago.status}}</h6>
        </div>
        <div class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <label>Productor</label>
          </div>
          <h6>{{pago.pro_productor}}</h6>
        </div>   
        <div class="flex-column align-items-start">
          <a class="col-xs-6" (click)="volver()">Volver</a>
          <a *ngIf="role=='Administrador'" class="col-xs-6 text-right" (click)="update(pago.id)">Modificar</a>
        </div>
      </div><!--end list-group-->
    </div><!--end col-10-->
    <div class="col-xs-1 col-sm-2 col-md-3"></div>
  </div><!--end row-->
</div><!--end container-fluid-->
