<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop:true  }"></ngx-loading>
<div class="container-fluid no-padding no-margin" style="overflow:hidden;">
    <div class="row">
        <div class="col-xs-1 col-sm-1 col-md-2"></div>
        <div class="col-xs-10 col-sm-10 col-md-8 forma">           
            <div class="titulo-forma"></div>
            <form *ngIf="programa_nuevo" novalidate (ngSubmit)="onSubmit(form_agregar_programa)" [formGroup]="form_agregar_programa">
                <div class="form-group col-xs-12">
                    <label for="pro_nombre">Nombre del Programa (*)</label>
                    <input type="text" formControlName="pro_nombre" id="pro_nombre" class="form-control" name="pro_nombre" ng-maxlength="60" required>
                    <div class="col-sm-12 text-left">
                        <span class="help-block text-danger col-xs-12 " *ngIf="form_agregar_programa.get('pro_nombre').touched && (form_agregar_programa.get('pro_nombre').hasError('required') || form_agregar_programa.get('pro_nombre').hasError('invalid'))">Debes rellenar este campo.</span>                            
                        <span class="help-block text-danger col-xs-12 " *ngIf="form_agregar_programa.get('pro_nombre').touched && form_agregar_programa.get('pro_nombre').hasError('maxlength')">This field requires less than 60 chars.</span>
                    </div>
                </div>
                <div class="form-group col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon"><label for="pro_corte">
                            Corte Programa&nbsp;
                            <i class="fa fa-refresh blue-text cursor-pointer" title="Refrescar" (click)="loadCortes()"></i>
                        </label></span>
                        <select class="form-control" 
                                formControlName="pro_corte" 
                                name="pro_corte" 
                                list="cortes" 
                                autocomplete="off" 
                                id="pro_corte"
                                required
                                >
                            <option [value]="corte_" [selected]="corte_">{{corte_}}</option>
                            <option *ngFor="let item of cortes" value="{{item.corte}}">{{item.corte}}</option>
                        </select>
                        <div class="col-sm-12 text-left">
                            <span class="help-block text-danger col-xs-12 " *ngIf="form_agregar_programa.get('pro_corte').touched && (form_agregar_programa.get('pro_corte').hasError('required') || form_agregar_programa.get('pro_corte').hasError('invalid'))">Debes rellenar este campo.</span>                            
                        </div>
                    </div>
                </div><!-- End class form-group col-xs-12 pro_corte-->   
                <div class="form-group col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon"><label for="pro_tipo">
                            Tipo de Programa&nbsp;
                         </label></span>
                        <select class="form-control" 
                            formControlName="pro_tipo" 
                            name="pro_tipo" 
                            list="tipos" 
                            autocomplete="off" 
                            id="pro_tipo" required>
                            <option value="" [selected]="">Seleccione</option>
                            <option *ngFor="let item of tipos" value="{{item}}">{{item}}</option>
                        </select>
                    </div>
                    <div class="col-sm-12 text-left">
                        <span class="help-block text-danger col-xs-12 " *ngIf="form_agregar_programa.get('pro_tipo').touched && (form_agregar_programa.get('pro_tipo').hasError('required') || form_agregar_programa.get('pro_corte').hasError('invalid'))">Debes rellenar este campo.</span>                            
                    </div>
                </div><!-- End class form-group col-xs-12 pro_corte-->   
                <div class="form-group col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon"><label for="pro_clasificacion">
                            Clasificación&nbsp;
                            </label></span>
                        <select class="form-control" 
                            formControlName="pro_clasificacion" 
                            name="pro_clasificacion" 
                            list="tipos" 
                            autocomplete="off" 
                            id="pro_clasificacion" required>
                            <option value="" [selected]="">Seleccione</option>
                            <option *ngFor="let item of clasificaciones" value="{{item}}">{{item}}</option>
                        </select>
                    </div>
                    <div class="col-sm-12 text-left">
                        <span class="help-block text-danger col-xs-12 " *ngIf="form_agregar_programa.get('pro_clasificacion').touched && (form_agregar_programa.get('pro_clasificacion').hasError('required') || form_agregar_programa.get('pro_clasificacion').hasError('invalid'))">Debes rellenar este campo.</span>                            
                    </div>
                </div><!-- End class form-group col-xs-12 pro_corte-->     
                <div class="form-group col-xs-12">
                    <label for="pro_sinopsis">Sinopsis (*)</label>
                    <textarea type="textarea" formControlName="pro_sinopsis" id="pro_sinopsis" class="form-control" name="pro_sinopsis" autocomplete="off" ng-maxlength="500" required></textarea>
                    <div class="col-sm-12 text-left">
                        <span class="help-block text-danger col-xs-12 " *ngIf="form_agregar_programa.get('pro_sinopsis').touched && (form_agregar_programa.get('pro_sinopsis').hasError('required') || form_agregar_programa.get('pro_sinopsis').hasError('invalid'))">Debes rellenar este campo.</span>
                        <span class="help-block text-danger col-xs-12 " *ngIf="form_agregar_programa.get('pro_sinopsis').touched && form_agregar_programa.get('pro_sinopsis').hasError('maxlength')">This field requires less than 500 chars.</span>
                    </div>
                </div>
                <div class="form-group col-xs-12 no-padding" style="margin-bottom:10px;">     
                    <label class="col-xs-12 text-left" for="pro_dia_semana">Día(s) de Transmisión (*) </label>
                    <div class="checkbox">
                        <label *ngFor="let dia of dias" class="col-xs-4">{{dia}}  &nbsp; &nbsp;  &nbsp;  &nbsp;
                            <input 
                                type="checkbox"  
                                formArrayName="pro_dia_semana" 
                                [checked]="isSelected(dia)"
                                class=""
                                (change)="onCheckChange(dia, $event.target.checked)">                             
                        </label>
                    </div>
                </div>
                <div class="col-xs-12 no-padding no-margin">
                    <div class="form-group col-xs-12 col-sm-6">
                        <label for="pro_hora_inicio">Hora de Inicio (*)&nbsp;</label>  
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-clock-o"></i>
                            </div>
                            <input type="time" class="form-control timepicker" formControlName="pro_hora_inicio" required>                                    
                        </div>
                    </div><!--End class form-group -->

                    <div class="form-group col-xs-12 col-sm-6">
                        <label for="pro_hora_fin">Hora Fin (*)&nbsp;</label>  
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-clock-o"></i>
                            </div>
                            <input type="time" class="form-control timepicker" formControlName="pro_hora_fin" required>                                    
                        </div>                                          
                    </div><!--End class form-group -->
                </div>               
                <div class="col-xs-12"  style="padding:0px; margin:0px;">
                    <div class="form-group col-sm-6">
                        <label for="pro_email">E-mail del Programa (*)</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            <input type="email" formControlName="pro_email" id="pro_email" class="form-control" name="pro_email" ng-maxlength="40" required>
                        </div>
                        <div class="col-xs-12 text-left">
                            <span class="help-block text-danger col-xs-12 " *ngIf="form_agregar_programa.get('pro_email').touched && form_agregar_programa.get('pro_email').hasError('required')">Debes rellenar este campo</span>
                            <span class="help-block text-danger col-xs-12 " *ngIf="form_agregar_programa.get('pro_email').touched && form_agregar_programa.get('pro_email').hasError('invalidEmail')">Email inválido. Sugerencia: usuario@dominio.com</span>
                            <span class="help-block text-danger col-xs-12 " *ngIf="form_agregar_programa.get('pro_email').touched && form_agregar_programa.get('pro_email').hasError('maxlength')">This field requires less than 40 chars.</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="pro_fecha_origen">Fecha de Inicio (*) </label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="date" class="form-control" formControlName="pro_fecha_origen" placeholder="AAAA-MM-DD"
                            date-format="YYYY-MM-DD" date-only=true name="pro_fecha_origen" required>
                        </div>
                        <div class="col-xs-12 text-left">
                            <span class="help-block text-danger col-xs-12 " *ngIf="form_agregar_programa.get('pro_fecha_origen').touched && (form_agregar_programa.get('pro_fecha_origen').hasError('required') || form_agregar_programa.get('pro_fecha_origen').hasError('invalid'))">Debes rellenar este campo.</span>
                            <span class="help-block text-danger col-xs-12 " *ngIf="form_agregar_programa.get('pro_fecha_origen').touched && form_agregar_programa.get('pro_fecha_origen').hasError('invalidFutureDate')">Future date.</span>
                            <span class="help-block text-danger col-xs-12 " *ngIf="form_agregar_programa.get('pro_fecha_origen').touched && form_agregar_programa.get('pro_fecha_origen').hasError('invalidDateDayRange')">Invalid Day.</span>
                            <span class="help-block text-danger col-xs-12 " *ngIf="form_agregar_programa.get('pro_fecha_origen').touched && form_agregar_programa.get('pro_fecha_origen').hasError('invalidDateYearRange')">Invalid Year.</span>
                            <span class="help-block text-danger col-xs-12 " *ngIf="form_agregar_programa.get('pro_fecha_origen').touched && form_agregar_programa.get('pro_fecha_origen').hasError('invalidDateFormat')">Invalid date format. Must be AAAA-MM-DD</span>
                        </div>
                    </div>    
                </div>
                <div class="col-xs-12">
                    <label>Locutores </label>
                    <span class="help-block text-red">Sólo llene los campos correspondientes según la cantidad de locutores que tenga el espacio.</span>
                </div>
                <div class="col-xs-12" style="padding:0px; margin:0px;">
                    <div class="form-group col-xs-12 col-sm-6">
                        <label for="pro_locutor_1">Locutor 1 (*)</label>
                        <input type="text" formControlName="pro_locutor_1" id="pro_locutor_1" class="form-control" name="pro_locutor_1" ng-maxlength="60" required>
                        <div class="col-xs-12 text-left">
                            <span class="help-block text-danger col-xs-12" *ngIf="form_agregar_programa.get('pro_locutor_1').touched && (form_agregar_programa.get('pro_locutor_1').hasError('required') || form_agregar_programa.get('pro_locutor_1').hasError('invalid'))">Debes rellenar este campo.</span>                            
                            <span class="help-block text-danger col-xs-12" *ngIf="form_agregar_programa.get('pro_locutor_1').touched && form_agregar_programa.get('pro_locutor_1').hasError('maxlength')">This field requires less than 60 chars.</span>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-6">
                        <label for="pro_locutor_2">Locutor 2</label>
                        <input type="text" formControlName="pro_locutor_2" id="pro_locutor_2" class="form-control" name="pro_locutor_2" ng-maxlength="60">
                        <div class="col-xs-12 text-left">
                            <span class="help-block text-danger col-xs-12" *ngIf="form_agregar_programa.get('pro_locutor_2').touched && form_agregar_programa.get('pro_locutor_2').hasError('maxlength')">This field requires less than 60 chars.</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12"  style="padding:0px; margin:0px;">
                    <div class="form-group col-xs-12 col-sm-6">
                        <label for="pro_locutor_3">Locutor 3</label>
                        <input type="text" formControlName="pro_locutor_3" id="pro_locutor_3" class="form-control" name="pro_locutor_3" ng-maxlength="60">
                        <div class="col-xs-12 text-left">
                            <span class="help-block text-danger col-xs-12" *ngIf="form_agregar_programa.get('pro_locutor_3').touched && form_agregar_programa.get('pro_locutor_3').hasError('maxlength')">This field requires less than 60 chars.</span>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-6">
                        <label for="pro_locutor_4">Locutor 4</label>
                        <input type="text" formControlName="pro_locutor_4" id="pro_locutor_4" class="form-control" name="pro_locutor_4" ng-maxlength="60">
                        <div class="col-xs-12 text-left">                         
                            <span class="help-block text-danger col-xs-12" *ngIf="form_agregar_programa.get('pro_locutor_4').touched && form_agregar_programa.get('pro_locutor_4').hasError('maxlength')">This field requires less than 60 chars.</span>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-6">
                        <label for="pro_instagram">Instagram</label>
                        <div class="input-group">
                            <span class="input-group-addon">@</span>
                            <input type="text" formControlName="pro_instagram" id="pro_instagram" class="form-control" name="pro_instagram" autocomplete="off" ng-maxlength="60">
                        </div>
                        <div class="col-sm-12 text-left">
                            <span class="help-block text-danger" *ngIf="form_agregar_programa.get('pro_instagram').touched && form_agregar_programa.get('pro_instagram').hasError('maxlength')">Este espacio requiere menos de 60 caracteres.</span>
                        </div>
                    </div><!-- End class form-group col-xs-12 pro_instagram-->
                    <div class="form-group col-xs-12 col-sm-6">
                        <label for="pro_twitter">Twitter</label>
                        <div class="input-group">
                            <span class="input-group-addon">@</span>
                            <input type="text" formControlName="pro_twitter" id="pro_twitter" class="form-control" name="pro_twitter" autocomplete="off" ng-maxlength="60">
                        </div>
                        <div class="col-sm-12 text-left">
                            <span class="help-block text-danger" *ngIf="form_agregar_programa.get('pro_twitter').touched && form_agregar_programa.get('pro_twitter').hasError('maxlength')">Este espacio requiere menos de 60 caracteres.</span>
                        </div>
                    </div><!-- End class form-group col-xs-12 pro_twitter-->
                    <div class="form-group col-xs-12 col-sm-6">
                        <label for="pro_facebook">Facebook</label>
                        <div class="input-group">
                                <span class="input-group-addon">@</span>
                            <input type="text" formControlName="pro_facebook" id="pro_facebook" class="form-control" name="pro_facebook" autocomplete="off" ng-maxlength="60">
                        </div>
                        <div class="col-sm-12 text-left">
                            <span class="help-block text-danger" *ngIf="form_agregar_programa.get('pro_facebook').touched && form_agregar_programa.get('pro_facebook').hasError('maxlength')">Este espacio requiere menos de 60 caracteres.</span>
                        </div>
                    </div><!-- End class form-group col-xs-12 pro_facebook-->
                    <div class="form-group col-xs-12 col-sm-6">
                        <label for="pro_snapchat">Snapchat</label>
                        <div class="input-group">
                            <span class="input-group-addon">@</span>
                            <input type="text" formControlName="pro_snapchat" id="pro_snapchat" class="form-control" name="pro_snapchat" autocomplete="off" ng-maxlength="60">
                        </div>
                        <div class="col-sm-12 text-left">
                            <span class="help-block text-danger" *ngIf="form_agregar_programa.get('pro_snapchat').touched && form_agregar_programa.get('pro_snapchat').hasError('maxlength')">Este espacio requiere menos de 60 caracteres.</span>
                        </div>
                    </div><!-- End class form-group col-xs-12 pro_snapchat-->   
                </div>
                <div *ngIf="currentUser.role=='Administrador'" class="form-group col-xs-12 no-padding">     
                <!--<label class="col text-left" for="enabled">Habilitado </label>-->
                    <div class="checkbox">
                        <label for="habilitado" class="col-xs-12">Habilitado &nbsp; &nbsp; &nbsp; &nbsp;
                        <input 
                            type="checkbox" 
                            [checked]='isHabilitado()'
                            formArrayName="habilitado" 
                            class=""
                            (change)="onHabilitadoChange($event.target.checked)">                             
                        </label>
                    </div>
                </div><!-- end enabled -->                 
                <div class="form-group col-xs-12 col-xs-12">              
                        <span style="color:red;">(*) Obligatorio.</span>
                </div> 
                <div class="form-group col-xs-4 col-sm-6"></div>
                <div class="form-group col-xs-4 col-sm-3">
                    <button type="submit" class="btn btn-primary boton-enviar" [disabled]="!form_agregar_programa.valid">Guardar</button>
                </div>
                <div class="form-group col-xs-4 col-sm-3">
                    <button class="btn btn-danger boton-enviar"
                        (click)="volver()">Cancelar</button>
                </div>
            </form>            
        </div>
        <div class="col-xs-1 col-sm-1 col-md-2"></div>
    </div>
</div>