/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
  @import "assets/adminlte/bower_components/morris.js/morris.css";
  @import "assets/adminlte/dist/css/AdminLTE.min.css";
  @import "assets/adminlte/dist/css/skins/_all-skins.min.css";
  @import "assets/adminlte/bower_components/bootstrap/dist/css/bootstrap.min.css";
  @import "assets/adminlte/bower_components/font-awesome/css/font-awesome.min.css";
  @import "assets/adminlte/bower_components/ionicons/css/ionicons.min.css";
  @import "assets/adminlte/bower_components/jvectormap/jquery-jvectormap.css";
  @import "assets/adminlte/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css";
  @import "assets/adminlte/bower_components/bootstrap-daterangepicker/daterangepicker.css";
  @import "assets/adminlte/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css";

.body {
    background-color: #00588e;
    padding: 0px;
    margin:0px;
    height: 100%;
    font-family:'Roboto', sans-serif;
}

.no-padding {
    padding:0px;
}
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

@font-face {
  font-family: proxima-nova-thin;
  src: url(../src/assets/fonts/Proxima-Nova-Thin.otf) format("opentype");
}