.container-fluid {
    background-image: url(../../assets/images/fondos/fondo-prgramacion-tnoradio.jpg);
    background-size: cover;
    background-position: center;
    min-height:78vh !important;
    background-repeat: no-repeat;
}

th {
    color:white;
    font-weight: 300;
}

@media only screen and (max-width: 768px)  { 
    .container-fluid {
        background-image: url(../../assets/images/fondos/fondo-prgramacion-tnoradio-responsive.jpg);
        background-size: cover;
        height:85vh;
    }
}

@media only screen and (max-width: 544px)  { 
    .container-fluid {
        height:82vh;
    }
}