<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',  fullScreenBackdrop:true }"></ngx-loading>
<div class="container-fluid">
  <div class="row" *ngIf="turnos">
    <div class="col-md-1"></div>
    <div class="col-md-10"> 
      <div class="table-responsive"><!-- tabla con los datos de los turnos -->            
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <!--<th>Id</th>-->
              <th>Nombre</th>
              <th>Hora Inicio</th>  
              <th>Hora Fin</th>                              
              <th>Fecha</th>
              <th>Actividad</th>  
              <th>Área</th>                                                    
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let turno of turnos | paginate: { itemsPerPage: 20, currentPage: p }">
              <!--<td>{{turno.id}}</td>-->
              <td class="info">{{turno.empleado.name}} {{turno.empleado.lastname}}</td>
              <td class="info">{{turno.hora_entrada}}</td>
              <td class="info">{{turno.hora_salida}}</td>
              <td class="info">{{turno.fecha}}</td>
              <td class="info">{{turno.actividad}}</td>   
              <td class="info">{{turno.area.nombre}}</td>           
                                
              <td class="info">                                    
             <!--   <button class="btn btn-info .btn-sm" 
                (click)="detalleTurno(turno.id)"><i class="fa fa-search-plus "></i></button>
                &nbsp;
                <button *ngIf="turno.autorizado==true || role_ == 'Administrador'" 
                        class="btn btn-primary .btn-sm" 
                        (click)="actualizarTurno(turno.id)"><i class="fa fa-pencil "></i></button>-->
                &nbsp;<button *ngIf="role_ == 'Administrador'"
                        data-toggle='modal' 
                        data-target="#confirm" 
                        (click)="setClient(turno.id)" 
                        class="btn btn-danger .btn-sm"><i class="fa fa-trash "></i>
                </button>
              </td>
            </tr>
          </tbody>               
        </table>   
        <pagination-controls (pageChange)="p = $event" style="float:right"></pagination-controls>        
        <div id="confirm" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                  <h6>Eliminar Turno</h6>
              </div>
              <div class="modal-body">
                  ¿Realmente desea eliminar este turno?
              </div>
              <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn">NO</button>
                <button (click)="delete(clientid)" type="button" data-dismiss="modal" class="btn btn-danger">
                    <i class="fa fa-trash"></i>&nbsp;
                    SÍ
                </button>
              </div>
            </div>
          </div> <!-- end modal dialog -->
        </div><!-- end modal -->
      </div><!-- end data-table-->
     </div><!-- end col 10-->
    <div class="col-md-1"></div>
  </div><!-- end row turnos-->
</div>

