<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop:true  }"></ngx-loading>
<div class="container-fluid no-padding no-margin" style="overflow:hidden;">
    <div class="row">
        <div class="col-xs-1 col-md-2"></div>
        <div class="col-xs-10 col-md-8 forma">           
            <div class="titulo-forma"></div>
            <form  novalidate (ngSubmit)="onSubmit(form_agregar_turno)" [formGroup]="form_agregar_turno">
                <div class="form-group col-xs-12">
                    <label for="actividad">Actividad que va a realizar. Colocar el nombre del programa, locutor, etc. (*)</label>
                    <input type="text" formControlName="actividad" id="actividad" class="form-control" name="actividad" ng-maxlength="60" required>
                    <div class="col-sm-12 text-left">
                        <span class="help-block text-danger col-xs-12 " *ngIf="form_agregar_turno.get('actividad').touched && (form_agregar_turno.get('actividad').hasError('required') || form_agregar_turno.get('actividad').hasError('invalid'))">Debes rellenar este campo.</span>                            
                        <span class="help-block text-danger col-xs-12 " *ngIf="form_agregar_turno.get('actividad').touched && form_agregar_turno.get('actividad').hasError('maxlength')">Ese campo requiere menos de  60 caracteres.</span>
                    </div>
                </div>
               <div class="form-group col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon"><label for="area_id">
                           Área&nbsp;
                            <i class="fa fa-refresh blue-text cursor-pointer" title="Refrescar" (click)="loadAreas()"></i>
                        </label></span>
                        <select class="form-control" 
                                formControlName="area_id" 
                                name="area_id" 
                                list="areas" 
                                autocomplete="off" 
                                id="area_id" required>
                            <option value="" [selected]="">Seleccione</option>
                            <option *ngFor="let item of areasLibres" value="{{item.id}}">{{item.nombre}}</option>
                        </select>
                    </div>
                    <div class="col-sm-12 text-left">
                        <span class="help-block text-danger col-xs-12 " *ngIf="form_agregar_turno.get('area_id').touched && (form_agregar_turno.get('area_id').hasError('required') || form_agregar_turno.get('area_id').hasError('invalid'))">Debes rellenar este campo.</span>    
                        <span class="help-block text-danger col-xs-12 " *ngIf="form_agregar_turno.get('area_id').touched && (form_agregar_turno.get('area_id').hasError('areaLibreValidator'))">Otro empleado trabaja en esta área.</span>                                                    
                    </div>
                </div><!-- End class form-group col-xs-12 area_id-->              
               
                <div class="form-group col-xs-12 col-xs-12">              
                    <span style="color:red;">(*) Obligatorio.</span>
                </div> 
                <div class="form-group col-xs-4 col-sm-9"></div>
                <div class="form-group col-xs-4 col-sm-1">
                    <button type="submit" class="btn btn-primary boton-enviar" [disabled]="!form_agregar_turno.valid">Guardar</button>
                </div>
                <div class="form-group col-xs-4 col-sm-2">
                    <button class="btn btn-danger boton-enviar"
                        (click)="volver()">Cancelar</button>
                </div>
            </form>            
        </div>
        <div class="col-xs-1 col-md-2"></div>
    </div>
</div>